[2020-10-03 20:02] lucaspbordignon opened #3 "Add support to read and save Carbohydrates"
Add support to read and save `Carbohydrates `

#### References

- https://github.com/terrillo/rn-apple-healthkit/issues/72

[2020-10-03 20:03] lucaspbordignon opened #4 "Add support to save BloodGlucose"
Add support to save `BloodGlucose`

#### References

- https://github.com/terrillo/rn-apple-healthkit/issues/72

[2020-10-03 20:05] lucaspbordignon opened #5 "Add documentation to dietary methods"
Add documentation to dietary methods

- `saveFood`
- `saveWater`

We currently have an implementation for them, but the documentation is missing

[2020-10-03 20:07] lucaspbordignon opened #6 "Add documentation to lab test methods"
Add documentation to lab tests methods

- `saveBloodAlcoholContent`
- `saveBloodGlucoseSample`

We currently have an implementation for them, but the documentation is missing

[2020-10-03 20:17] lucaspbordignon opened #7 "Add documentation to workout methods"
Add documentation to workout methods

- `saveWorkout`

We currently have an implementation for them, but the documentation is missing

### Note

The `getWorkout` method is being deprecated in favour of `getSamples` - See #20

[2020-10-03 20:50] lucaspbordignon opened #8 "Update the observers logic to listen to all sample types"
Update the observers logic to listen to all sample types supported by the library

Currently, we only support the following sample types
[code]

However, additional samples (as `BloodGlucose`) can be queried by the library and can be fetched using the same observed strategy.

#### References

- https://github.com/terrillo/rn-apple-healthkit/issues/173

[2020-10-04 00:16] TDDR commented on #7
Hello, could you assign this issue to me please?

[2020-10-05 13:01] lucaspbordignon commented on #7
Hey @TDDR! For sure, just added you as an assignee. Let me know if you need any help with this one

[2020-10-11 18:25] TDDR commented on #7
Hey @lucaspbordignon, I have been looking into the code trying to figure out the implementation. After looking into the documentation a little closer I was just wondering if I actually need to own a HealthKit in order  to properly document it?

[2020-10-13 16:54] lucaspbordignon commented on #7
Hey @TDDR and @seidbar! I'm also not sure what exactly you mean with owning a HealthKit, could you clarify that for us?

Regarding documenting it though, you need a device with HealthKit in order to test the functionality itself, whether a physical iPhone or a simulator

As @TDDR mentioned, we do need also to add the capabilities to Xcode in order for the library to have access to the HealthKit. W

[2020-10-13 16:56] lucaspbordignon opened #10 "Add sample project to serve as an example"
**Describe the solution you'd like**
When developers arrive at the repository, they want to have an easy way of running the library and seeing it's capabilities.

Having a sample toy project helps speed up this step

[2020-10-13 18:43] seidbar commented on #7
If step 6 of the mentioned section would move up to the 'Getting started' section that should suffice to get started.

A sample project would be neat. I put something together using functional components and would gladly participate in enhancing the documentation as I use the package more thoroughly.

[2020-10-14 07:25] batical opened #12 "[Filter Manual enter data] Step"
**Is your feature request related to a problem? Please describe.**
I would like to filter the manual added data. For exemple get the number of step without manual added data

**Describe the solution you'd like**
in the options, add a flag to include manual or not

[2020-10-14 11:26] lucaspbordignon commented on #12
Hey @batical! Thanks for the suggestion, that's a really valuable addition to the repository. I've also seen that we have the same request added to the original repository but was never really merged to master

We can definitively base our solution on that. The resources are the following

- https://github.com/terrillo/rn-apple-healthkit/issues/28
- https://github.com/terrillo/rn-apple-healthkit/p

[2020-10-14 13:04] seidbar commented on #7
I proposed a change to resolve this.

[2020-10-15 10:55] batical commented on #12
you already did it. thanks

[2020-10-15 11:29] lucaspbordignon commented on #12
@batical Yeah! I actually noticed that we already have the `includeManuallyAdded` flag for the `getDailyStepCountSamples` method, but we can probably filter all the other metrics too based on that flag

Also, feel free to go ahead and create a draft PR in case you need that functionality as soon as possible. I probably won't be able to work on it in the next few days, but can help complete the rem

[2020-10-15 11:34] lucaspbordignon commented on #7
@TDDR No problem with that! We have an [open issue](https://github.com/agencyenterprise/react-native-health/issues/10) to create a sample project for the library. We might be able to have that running using [Expo Snack](https://snack.expo.io/) or anything related, so we don't require everybody to have an iPhone to play around with the library

But thank you for the support still! Let us know if ha

[2020-10-16 15:36] batical commented on #12
I can maybe try to copy from the other PR but I have no real knowledge of ObjC or Swift

[2020-10-22 13:04] batical opened #18 "InitHealthKit seems to be required each time I kill the app"
**Describe the bug**
First time, when the user click on the button," I want to use the HealthKit feature", I call the InitHealthkit method which prompt the HK page from apple. I accept and I can get step count.

I kill the app, start again.
- isAvailable method return true
- getStepCount or getDailyStepCountSamples return nothing. I tried to log the result nothing happen
- If I add an initHealthKi

[2020-10-27 15:29] seidbar commented on #18
Once the user was asked for a specific permission, Apple won't allow the App to ask for that permission again. If your user clicks on the 'I want to use the HealthKit feature' button, they will be asked if they want to give permission for all the read/write permissions detailed in the permissions object. When the user then closes the app and reopens it, they won't be asked for permission again, ev

[2020-10-29 14:12] Frans-L opened #19 "[Discussion] Love the effort!"
Hey, This isn't an issue. I just wanted to say thank you for developing this library further!  😊

[2020-10-30 10:46] Frans-L opened #20 "Duplicate getWorkout / getSamples code"
There are now two ways to fetch workout data.

One option is to use [getSamples](https://github.com/agencyenterprise/react-native-health/blob/master/docs/getSamples.md) and the other option is to use [getWorkout](https://github.com/agencyenterprise/react-native-health/blob/master/docs/getWorkout.md).

There is duplicate Objective C code because of that. One of them should be removed.  getSamples r

[2020-10-30 10:50] Frans-L commented on #7
Note: **getWorkout** and **getSamples** can be used to fetch workouts. One of them should be removed to eliminate duplicate code. Issue about it: https://github.com/agencyenterprise/react-native-health/issues/20

[2020-10-30 12:04] lucaspbordignon commented on #18
Hey @batical!

As @seidbar said, when you first call `initHealthKit()` method it will prompt the user for the permissions requested. If they decline it, they will need to manually enter the permissions settings in iOS to allow your app to access it

However, when you kill the app and open it again, you should still call the `initHealthKit()` method and if the user was already prompted with the per

[2020-11-02 12:16] lucaspbordignon commented on #19
Hey @Frans-L ! I'm super glad that you liked it, want to help the community as much as we can. And also, feel free to give any suggestion or register any issue you might face in the repository, so we can have the project running in the long-term!

Thank you a lot for your support! 😄

[2020-11-05 03:50] ManetJun opened #22 "Crash on asking AppleExerciseTime Permission"
**Describe the bug**
Initiating connection to HealthKit app, adding AppleExerciseTime permission alone cause a crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate permission request for AppleExerciseTime alone(see code snippet below).
2. App will crash

**Expected behavior**
Should not crash.

**Screenshots**
<img width="273" alt="Screenshot 2020-11-05 at 11 32 05 AM" src="https:

[2020-11-06 13:21] lucaspbordignon commented on #20
Hey @Frans-L!

That's a good point, didn't realize we had this duplicate. I agree with you that we should prioritize `getSamples` over `getWorkout` as it has more flexibility to the library

Also, the latest one doesn't have documentation, so we don't need to spend our workforce adding it too

I'll create a new PR for that shortly

[2020-11-17 14:42] #20 closed

[2020-11-17 22:54] batical commented on #18
it is what I have done. I call it using a button. I am saying the fact I already asked in local storage for now .

Not perfect or what I got in mind, but working

[2020-11-17 22:54] #18 closed

[2020-11-18 18:15] Frans-L opened #25 "Poor Error Handling"
**Is your feature request related to a problem? Please describe.**

When the library is fetching something and fails, only a vague description is sent to React Native.

Example from **fitness_getSamples**:
[code]

React Native jus receives _"error getting samples"_. There's no way to see what the actual reason for the error is.

**Describe the solution you'd like**

The better way is to forward th

[2020-11-20 16:46] foxtree opened #26 "[Question] Connecting to Simulator Portals/Providers"
First, thank you for sharing your work on this project!

So, I've created a new react-native app, and I think I've successfully integrated and linked to this library.  ...I can successfully set and get data (e.g.: age, weight) that is manually entered into the iOS simulator via `Settings > Health > Health Details ....`

However, I cannot seem to get Health Records from any of the "Sample Location"

[2020-11-23 16:29] lucaspbordignon commented on #12
@batical We do have some great references added in PR #24 too, in case it helps

[2020-11-23 17:07] foxtree commented on #26
Oh, is the issue that this library does not support `NSHealthClinicalHealthRecordsShareUsageDescription` ?

![image](https://user-images.githubusercontent.com/3383704/99992511-6ea25f00-2d84-11eb-8162-047bead9757a.png)

https://developer.apple.com/documentation/bundleresources/information_property_list/nshealthclinicalhealthrecordsshareusagedescription#details

[2020-11-24 15:16] m-ruhl opened #27 "undefined is not a function (near '..._reactNativeHealth.default.initHealthKit...')"
Hey,

I wanted to use the plugin and copied the snippet:

[code]

But this seems to cause an error:
`TypeError: undefined is not a function (near '..._reactNativeHealth.default.initHealthKit...')`

Any ideas to solve it?

Thanks
Michael

[2020-11-25 14:02] lucaspbordignon commented on #22
Hey @ManetJun!

First of all, sorry for the delay in the response, couldn't give the proper attention to the project in the past weeks

Looking into the code snippet you provided, seems that the root cause of it is really the lack of the `HKQuantityTypeIdentifierAppleExerciseTime` permission. Looking into the native level implementation we don't have the addition of the permission when a user requ

[2020-11-25 14:09] lucaspbordignon commented on #22
It seems that the permission was removed in 906ba45, as it is available only for iOS 9.3+

[2020-11-26 20:26] TowhidKashem commented on #27
Had the same issue but got it to work after manual linking. Not really a solution though so don'y close the issue.

[2020-11-26 21:13] TowhidKashem commented on #27
I had to do this part after `pod install` to get it to work:

[code]

May also need to uninstall/re-install the app after the change.

[2020-11-30 13:44] m-ruhl commented on #27
Thanks for the hint..

I didn't had the second (update) entry, as my app should only read data..
So maybe the documentation needs to be improved

[2020-12-14 13:30] krakz999 opened #32 "[Question] Do `getSamples` method work on emulator?"
I'm using the emulator to test my app. I have logged 2 workout entries manually in the Apple Health app, but `getSamples()` does not return anything.

Do `getSamples` method work on emulator or maybe there is another issue?

[2020-12-14 13:36] Frans-L commented on #32
It works at least with a version using v.1.1.5. Tested today.
(I would guess that it works also with 1.2.0.)

[2020-12-14 13:37] krakz999 commented on #32
The issue was I missed the `type` property from the options.

[code]

Works now, thanks for getting back so quick!

[2020-12-14 13:37] #32 closed

[2020-12-14 13:57] lucaspbordignon opened #33 "Update types for getter methods"
Most of the methods we have to get samples from HealthKit currently return arrays of items. However, our types defined for Typescript projects don't account for that

We should add new types for the callback types

#### References

- https://github.com/agencyenterprise/react-native-health/pull/31

[2020-12-14 14:01] lucaspbordignon commented on #27
Hey @m-ruhl!

First of all, sorry for the late response.

Secondly, as @TowhidKashem mentioned, this step is really required for both reading and writing operations in HealthKit. Just merged the updates from #30 into master, so the steps are clearer

[2020-12-14 14:01] #27 closed

[2020-12-14 14:02] #22 closed

[2020-12-15 21:44] hammad0316 opened #34 "getBodyFatPercentageSamples coming back as undefined"
**Describe the bug**
Calling the getBodyFatPercentageSamples() throws errors.
[code]

[2021-01-02 04:48] TowhidKashem opened #35 "How to read permission grants?"
Is it possible to tell if the user has granted permissions for a particular write?

I'm not sure if this library is built on top of `rn-apple-healthkit` or not but that lib seems to have a function for this:

* https://github.com/terrillo/rn-apple-healthkit/issues/82
* https://github.com/terrillo/rn-apple-healthkit/blob/master/docs/authorizationStatusForType().md

Could we get something similar he

[2021-01-02 09:07] seidbar commented on #35
It should be the same here: `https://github.com/agencyenterprise/react-native-health/blob/master/docs/authorizationStatusForType.md`

[2021-01-03 02:55] TowhidKashem commented on #35
@seidbar I tried that before opening the issue. That function doesn't seem to exist in this lib. I did a search for `authorizationStatusForType` in `node_modules/react-native-health` and it turned out 0 results. Running the code in the link above results in the expected error:

<img width="772" alt="Screen Shot 2021-01-02 at 9 52 36 PM" src="https://user-images.githubusercontent.com/1139927/103470

[2021-01-04 12:16] dylmye opened #36 "[Bug] Xcode 12 Support - React-Core dependency"
Happy new year :)

Are you planning to update your dependency on React to React-Core? See https://github.com/facebook/react-native/issues/29633#issuecomment-694187116

I haven't specifically tested your package on Xcode 12 as I don't have a physical device to test with but it should be an easy change to test and implement. I'm happy to submit a PR to test if that helps.

[2021-01-06 12:06] lucaspbordignon commented on #25
Definitely! That's something we've been struggling for some time when debugging the library

I just added the `help wanted` tag to the library, so we can have some extra pair of hands to work on it. We should also revisit all the methods implemented to make sure we have captured exceptions in all of them

[2021-01-06 12:12] lucaspbordignon commented on #26
Hey @foxtree!

First of all, apologies for the delay in answering the issue

Can you please share a code snippet with the permissions and data fetching steps? Would be very helpful when trying to reproduce it

Also, currently, our documentation only requires you to add the `NSHealthShareUsageDescription` and `NSHealthUpdateUsageDescription` properties. Adding the `NSHealthClinicalHealthRecordsShar

[2021-01-06 12:21] lucaspbordignon commented on #34
Hey @hammad0316!

Thanks for the submission. Realized that the existing implementation for  `getBodyFatPercentageSamples()` is not being exported for the React Native interface

Added a fix for that in #37

[2021-01-19 08:47] mnakai opened #38 "How can I get oxygenSaturation?"
oxygenSaturation
https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifier

Isn't it wrong to think that the items on this page can be obtained by HealthKit?
If it doesn't seem to be supported yet, please do so. Thank you.

[2021-01-20 04:04] potatoengineer opened #41 "Getting empty array with getDailyStepCountSamples"
I have manually added steps on the simulator Health app and the data source is showing my app and all the Health permissions are on but when I try to getDailyStepCountSamples, I get an empty array.

Also, another issue I have is that I need to initiate HealthKit each time before getting the empty array otherwise I get 'undefined'. Once I initiate HealthKit again, it will return 'undefined' AND log

[2021-01-22 17:27] vishalj opened #42 "Incorrect return for getAuth response then the expected type"
**Describe the bug**
Incorrect types and enum

**To Reproduce**
1. Eslint error for (the = in `HealthStatusCode = {` is not needed)
[code]

2. Steps to reproduce the behavior:
const permissions = {
 permissions: {
    read: [
      AppleHealthKit.Constants.Permissions.Workout,
      AppleHealthKit.Constants.Permissions.ActiveEnergyBurned,
      AppleHealthKit.Constants.Permissions.BasalEnergyBurne

[2021-01-22 17:47] vishalj commented on #35
This is now fixed with https://github.com/agencyenterprise/react-native-health/blob/master/docs/getAuthStatus.md
Although there is a bug I filled here https://github.com/agencyenterprise/react-native-health/issues/42 that has been now introduced

[2021-01-22 18:04] NS-BOBBY-C commented on #42
I recently fixed this in #39. I'll fix the enum part right away, but I wonder if there is more that needs to change with the implementation of the getAuthStatus native function for iOS

[2021-01-22 18:10] vishalj commented on #42
I actually am using the new code you added in #39, in the return type the results contains permissions property that is not expected in the `HealthStatusResult` type which is causing the eslint to fail

[2021-01-22 18:13] NS-BOBBY-C commented on #42
Gotcha. I'll work on a fix right now open a PR.

[2021-01-22 18:34] NS-BOBBY-C commented on #42
Sorry about that! Just to clarify - it's just the typing not working with the linter? I've opened a PR (#43)

[code]

[2021-01-22 18:45] vishalj commented on #42
I think that should work nicely now. Thanks.

[2021-01-22 18:47] NS-BOBBY-C commented on #36
Happy New Year!

Is this still an issue? I just created a PR with an example react-native app (#44) with the latest version of react-native. I had no problem using Cocoapods to install the project.

[2021-01-23 00:36] TowhidKashem commented on #35
hey @vishalj that's great to hear, I tried it but am not seeing what the expected result. So I'm using the library to write to `Mindful Minutes`. I allowed the app access to `MindfulSession` writes and confirmed I can write to it, for example if I go to my settings > health data I see 10 minutes there for today's Mindful Minutes.

Then I tried to read permissions like:

[code]

And I get:

[code]

[2021-01-25 03:14] vishalj commented on #35
@TowhidKashem I am seeing write[2,2,2,2] for my categories
[code]

[2021-01-25 04:12] vishalj commented on #35
@TowhidKashem  Just in case you have seen this issue before, You are right I am running into the issue as well. In the beginning it returns with all non determined values(0), but after` AppleHealthKit.initHealthKit` is called, The correct values are returned.

@NS-BOBBY-C Tagging you as you fixed this functionality and maybe have more context, if that is how it was implemented.

[2021-01-25 04:28] vishalj commented on #35
Just went through the code, we need to add `self.healthStore = [[HKHealthStore alloc] init];` in getAuthorizationStatus as well, I think. Haven't worked on the native side so will need to look if that's all that's needed, or if we need to check wether or not the healthstore has been initialized before calling it again.

[2021-01-31 17:24] dylmye commented on #36
Seems like it still works, my bad. Thanks for looking into this @NS-BOBBY-C !

[2021-01-31 17:24] #36 closed

[2021-02-04 20:22] HugoChengMyC commented on #41
im noticing the same thing happen with getSamples` let today = new Date();
                    let weekAgo = new Date(today.setDate(today.getDate() - 2));

                    let options = {
                        startDate: weekAgo.toISOString(),
                        endDate:   today.toISOString(),
                        type:'Walking'
                    };

                    console.log

[2021-02-12 16:16] #42 closed

[2021-02-12 16:17] lucaspbordignon commented on #42
Hey @vishalj!

Thanks a lot for submitting that request. I just merged PR #43 from @NS-BOBBY-C and will be releasing a new minor version with the fix!

[2021-02-25 19:45] hammad0316 opened #48 "Step and Heart Rate backgroundObservers aren't working as expected"
**Describe the bug**
The StepCount and HeartRate background observers seem to not be working as expected

**Expected behavior**
If a new step count or heart rate entry is added into apple health, the observer function should fire off and be called/ran

[2021-02-25 20:22] hammad0316 commented on #48
This is how I'm setting up the event listeners:
[code]

[2021-03-01 23:08] pocketcat opened #49 "Cannot Ask Permission to call getDistanceSwimming"
I am able to successfully request AppleHealthKit.Constants.Permissions.DistanceCycling and AppleHealthKit.Constants.Permissions.DistanceWalkingRunning but there is no "AppleHealthKit.Constants.Permissions.DistanceSwimming". Could you please help me with this? Thanks!

[2021-03-05 11:55] stratosEft commented on #41
Hi all, I think the docs are deprecated in some areas and some valid ones would be helpful. I managed to retrieve samples by adding moment.js and a fixed format (ISOString didn't work)

[code]

[2021-03-08 13:08] lucaspbordignon commented on #49
Hey @pocketcat! Welcome to the project

I'm investigating the issue and seems that we don't have the `DistanceSwimming` permission under the `Permissions` list. Could you try passing the string itself to the initialization method and check if that works?

Would be like

[code]

[2021-03-12 19:16] Macelai commented on #38
This is now available by #51

[2021-03-12 19:16] #38 closed

[2021-03-12 19:30] Macelai commented on #35
Hey, this issue seems to be fixed by #44, I'm getting read/write equal 2. I'll close this issue, but feel free to open a new one if something is missing.

[2021-03-12 19:30] #35 closed

[2021-03-12 19:34] Macelai commented on #10
Fixed by #44

[2021-03-12 19:34] #10 closed

[2021-03-12 19:38] #34 closed

[2021-03-13 01:52] mnakai commented on #38
Thank you!!

[2021-03-15 16:05] terrorpixel commented on #48
In my case I can listen to "healthKit:HeartRate:**new**", but don't know how to get the HeartRate, do I really have to use AppleHealthKit.getSamples inside my callback function? Inside an AppleHealthKit.initHealthKit?

Beside that, success and failure are not triggering:
      NativeAppEventEmitter.addListener('healthKit:HeartRate:setup:**success**', success);
      NativeAppEventEmitter.addListen

[2021-03-15 16:31] Macelai commented on #41
Hey, I tested with the example project that was created recently and it's working fine.

Something like this:

[code]

[2021-03-15 17:05] #49 closed

[2021-03-15 18:52] #4 closed

[2021-03-15 18:53] #7 closed

[2021-03-15 19:11] #5 closed

[2021-03-15 19:11] #6 closed

[2021-03-15 19:18] #41 closed

[2021-03-17 04:51] Shahulul opened #57 "Option for saveBodyTemperature"
**Is your feature request related to a problem? Please describe.**
Need an option to write body temperature into health kit with date basis,

**Describe the solution you'd like**
Need to add an API for saveBodyTemperature

[2021-03-17 12:43] Macelai commented on #57
Hey @Shahulul

Do you want to submit a PR for this?

[2021-03-18 12:06] lucaspbordignon commented on #48
Hey @hammad0316! 👋🏿

Thanks for letting us know. It seems that you are setting everything up correctly on the React Native side. Just in order to gather more context, are you running on a simulator or a real device?

Also, if you run your app in XCode, you will be able to see in the native logs when a new sample is received by the library. It will have the following format:

[code]

Can you check

[2021-03-18 12:07] lucaspbordignon commented on #48
@terrorpixel

Yes! In summary, the listener only notifies you when we have a new sample added to Apple Health, but it does not return you the added samples. You should call `getSamples()` to fetch them

[2021-03-18 13:56] #57 closed

[2021-03-19 10:04] NguyenHoangMinhkkkk opened #61 "Asking experiences about Velocity & Step & Distance & Calories burned"
Thanks in advances...

Nice to meet you!
i'm thinking about feature call "Calories burned".
But after some days of asking people iPhones, i saw that not many people have appleWatch or some wearable else to activate energy Feature of HealthKit.
for research about calories formulas for calories calculating

Asking some experiences about Velocity & Step & Distance & Calories burned and solutions.

Th

[2021-03-19 16:47] #3 closed

[2021-03-19 17:52] #12 closed

[2021-03-19 19:53] lucaspbordignon commented on #61
Hey @NguyenHoangMinhkkkk!

Not sure I understood the problem, do you mind expanding it a bit?

If that helps, we do have methods for

1. [Active Energy (or active calories)](https://github.com/agencyenterprise/react-native-health/blob/master/docs/getActiveEnergyBurned.md)
2. [Basal Energy (or resting calories)](https://github.com/agencyenterprise/react-native-health/blob/master/docs/getBasalEnergy

[2021-03-21 03:32] NguyenHoangMinhkkkk commented on #61
Thanks!
i did use those methods and if i have data of Step & Distance but not Energies...
then have to calculate energy burned by some methods, that's what i am reseaching for.

[2021-03-22 01:29] Macelai opened #66 "Begin codebase migration to Swift, start by isHealthDataAvailable"

[2021-03-22 13:51] #33 closed

[2021-03-23 17:34] macelai opened #69 "Add support to clinical types (medication, allergy...)"
See https://developer.apple.com/documentation/healthkit/hkclinicaltype

[2021-03-31 11:13] yfng96 opened #71 "getSamples() with type="Walking" always return error"
**Describe the bug**
As stated in document, getSamples() can support type ['Walking', 'StairClimbing', 'Running', 'Cycling', 'Workout']
However, when calling the getSamples() with type="Walking", an error message is returned, which is "error getting samples".

The getSamples() for other types can work well. By the way, if we put type="Running", we can get the walking data too.
Is getSamples() supp

[2021-03-31 18:57] fakeheal opened #72 "Accessing data from "Nutrition" is not possible for anything except "Carbohydrates""
**Describe the bug**
Requesting "read" permissions for any dietary data but "Carbohydrates" doesn't work.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
After doing:

[code]

To be presented with a screen that includes the permissions requested (and described in the `permissions` array).

**Screenshots**
Here's a screenshot of code & emulator:
![screenshot](https

[2021-04-01 07:25] stratosEft commented on #71
`let samplesOptions = {
      type: 'Walking', // one of: ['Walking', 'StairClimbing', 'Running', 'Cycling', 'Workout']
      startDate: startOfWeek.toISOString(true),
      ascending: true,
    };`

    I get walking samples with the options above. (startOfWeek is the Monday of a user's selected day). Check HK initialization and in simulator doesn't work for me. Need an actual Iphone

[2021-04-01 13:23] Macelai commented on #72
Hey @fakeheal, probably you need to change these permissions on `getReadPermFromText` on `RCTAppleHealthKit+TypesAndPermissions.m`, would you like to open a PR for that?

[2021-04-02 03:30] yfng96 commented on #71
So the problem is because of the simulator? Currently I don't have actual device to test, is there any other solution to deal with this issue? Other options can work well, just the "Walking" has problem.

[2021-04-07 04:23] Shahulul opened #78 "Issue with initHealthkit"
**Describe the bug**
Sometimes when trying to call initHealthkit it gives a timeout error. I am calling initHealthkit in a button click.
Error like this
{"message": "Error with HealthKit authorization: Error Domain=com.apple.healthkit Code=100 \"Authorization session timed out\" UserInfo={NSLocalizedDescription=Authorization session timed out}"

**To Reproduce**
Just try to call initHealthkit

**E

[2021-04-07 11:26] lucaspbordignon commented on #78
Hey @Shahulul!

In order to gather more context to help with the fix, are you running the application on a simulator or a physical device?

Also, noticed that you said that sometimes it gives a timeout, does that work eventually or it always return the exception?

[2021-04-07 11:27] #19 closed

[2021-04-07 11:34] Shahulul commented on #78
@lucaspbordignon
I am tested this on the simulator.

[2021-04-08 02:36] GGGava commented on #71
Hey @yfng96

I tried your steps to reproduce in the simulator and it worked fine. Could you double check your read authorizations?

[2021-04-08 03:12] yfng96 commented on #71
Hi, @GGGava

These are the read permissions declared
[code]

Is there any missing permission?

[2021-04-08 03:21] GGGava commented on #71
Try including `StepCount`

[2021-04-08 05:13] yfng96 commented on #71
@GGGava ur solution is worked! Thank you very much

[2021-04-08 05:13] #71 closed

[2021-04-08 11:55] Macelai opened #81 "Update the documentation to add the permission necessary on getSamples"
As commented on #71, add the necessity to add the  permission `StepCount` to the docs.

[2021-04-08 18:19] GGGava commented on #25
I'm taking a look into this one

[2021-04-08 19:46] #25 closed

[2021-04-08 19:49] lucaspbordignon commented on #26
Closing this issue due to inactivity on it

Glad to open it again and discuss further in case that's still an issue!

[2021-04-08 19:49] #26 closed

[2021-04-08 19:54] lucaspbordignon commented on #66
As a reference, we now have a milestone called v2 to centralize all the tasks related to that

[2021-04-08 19:56] #66 closed

[2021-04-08 20:00] lucaspbordignon commented on #78
@Shahulul

Got it! I've put the issue under investigation, will try to replicate the issue and gather more context around that

[2021-04-12 01:49] #61 closed

[2021-04-14 01:20] #72 closed

[2021-04-16 19:01] momotum opened #86 "TypeError: undefined is not a function (near '..._reactNativeHealth.default.initHealthKit...')"
Hey guys,

installed the package and added the snippets.

import AppleHealthKit, { HealthKitPermissions } from "react-native-health";
...
AppleHealthKit.initHealthKit(permissions, (error: string) => {
...

TypeError: undefined is not a function (near '..._reactNativeHealth.default.initHealthKit...')

Cant get it running.

Interesting is that the AppleHealthKit doesn't even have the Method.

`Objec

[2021-04-16 19:30] m-ruhl opened #87 "Crash: fitness_getDistanceWalkingRunningOnDay"
**Describe the bug**
I got a crash of the plugin:

[code]

**Smartphone:**

- Device: iPhone 11 Pro
- OS: iOS 14.4.2

Plugin-Version: 1.6.0

[2021-04-18 14:17] #86 closed

[2021-04-18 14:17] momotum commented on #86
solved

[2021-04-19 07:15] Shahulul opened #88 "Deleting Previously saved temperature data in healthkit"
**Is your feature request related to a problem? Please describe.**
Need to avoid duplicate entry getting saving to the health app

**Describe the solution you'd like**
We can add removing functionality for previously added temperature data.

**Describe alternatives you've considered**
By checking startDate and quantity we can remove existing data from health kit.

[2021-04-20 13:38] Macelai commented on #88
Hey @Shahulul,

That would be a really cool feature to add, we could use something from this https://developer.apple.com/documentation/healthkit/hkhealthstore/1614163-delete

Feel free to open a PR adding this feature

[2021-04-20 13:46] Macelai commented on #87
Hey @m-ruhl,

Have you granted the permissions for it?

`read: [AppleHealthKit.Constants.Permissions.DistanceWalkingRunning],`

It worked fine for me, could you give more context about it?

[2021-04-20 14:57] m-ruhl commented on #87
Hey @Macelai,

sorry.. I should have made the problem a little bit clearer.
I integrated the framework and it worked fine. But then after opening the app from the background the app crashed.
Since then, I could not reproduce the crash anymore.

But I also had another strange thing, after the crash, the framework didn't get new distance from HealthKit anymore.

Maybe I'm using the framework wrong?

[2021-04-24 10:02] ronneldavis opened #92 "Save workout doesn't allow me to add any parameters, like distance or energy burned"
**Describe the bug**
Save workout doesn't allow me to add any parameters, like distance or energy burned, as specified in the documentation. The type definition doesn't provide anything either. I am trying to save a cycling workout and I would like to save distance and power output.

**To Reproduce**
[code]

**Expected behavior**
The distance and energyBurned are sent to HealthKit

**Screenshots**

[2021-04-28 13:33] Macelai commented on #92
Hey @ronneldavis

Looks like it has some more steps to save the workout, from the apple documentation it says that should "calling the health store’s add(_:to:completion:) method.". See https://developer.apple.com/documentation/healthkit/hkworkout/1615739-init and https://developer.apple.com/documentation/healthkit/workouts_and_activity_rings/adding_samples_to_a_workout?language=objc

Feel free to

[2021-05-08 21:52] apstone commented on #69
I would love to help out with this, but may require a bit of direction!

[2021-05-10 17:36] matheuspb opened #95 "Sleep samples being returned in batches"
**Describe the bug**
When new sleep samples are being fetched, sometimes it does not return any data and after a few days, it returns data from all these missing days in a batch.

**To Reproduce**
Use `getSleepSamples` function, although it is not really clear what conditions are causing this bug.

**Expected behavior**
A new sleep sample should be available as soon as it is on Apple Health.

[2021-05-10 18:52] #95 closed

[2021-05-11 08:11] chefk5 opened #96 "Is there a way to remove permissions from inside the app or it can only be done in the settings page?"
I was able to turn on permissions from inside the app using a button. So for turning them off, is there a function for it or the user should turn them off via the settings page?

[2021-05-11 13:29] lucaspbordignon commented on #96
Welcome, @chefk5! 👋🏾

HealhKit doesn't have support for disabling permissions after they are requested

However, letting permissions enabled for HealthKit shouldn't influence your app, as the permissions check is done by the OS when requesting health samples

Could you give us more context, so we can give a more precise answer or alternative to your use-case 🙂

[2021-05-11 15:51] apstone commented on #69
Thanks a ton @lucaspbordignon! I'm on it 😎

[2021-05-12 08:21] j-carvalho opened #97 "App crashes in iOS simulator if permissions are rejected."
**Describe the bug**
When using the iOS simulator, during the permission process, if the permissions are not allowed, the app immediately crashes when using one of the methods, e.g. get steps.

The callback with the error string is not even executed and wrapping the method in a try/catch also brings no effect.

This works fine on an actual device.

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-12 09:38] chefk5 commented on #96
Hello @lucaspbordignon !

I have a switch where when it is on, it asks for user permission to enable healthkit. But I think when it is turned off again, it seems that I have to do some validations inside the app while keeping permissions turned **on**  on the phone.

[2021-05-16 07:39] tagirahmad opened #99 "AppleHealthKit.saveWorkout() doesn't save a workout"
**Describe the bug**
Hello, Looks like AppleHealthKit.saveWorkout() doesn't save a workout

**To Reproduce**
Steps to reproduce the behavior:

I do in this way

           let options = {
                type: 'AmericanFootball', // See HealthActivity Enum
                startDate: new Date(2021, 5, 12, 12, 0, 0).toISOString(),
                endDate: new Date(2021, 5, 12, 13, 30, 0).toISOString

[2021-05-16 11:37] denisvely opened #100 "What is getOxygenSaturationSamples read Permission?"
Guys i want to get OxygenSaturationSamples but i get
"error getting oxygen saturation:Error Domain=com.apple.healthkit Code=5 "Authorization not determined" UserInfo={NSLocalizedDescription=Authorization not determined}".

Could someone tell me which permission should i request to get Oxygen Saturation data?

[2021-05-17 06:41] #96 closed

[2021-05-17 09:05] fakeheal commented on #100
Hello,
based on Apple's HealthKit documentation you need: [`HKQuantityTypeIdentifierOxygenSaturation`](https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifieroxygensaturation?language=objc), which is exposed in [`Permissions`](https://github.com/agencyenterprise/react-native-health/blob/v2/RCTAppleHealthKit/RCTAppleHealthKit%2BTypesAndPermissions.m#L169) through [`RCTAppleHeal

[2021-05-17 10:19] fakeheal commented on #99
Can you go to the Health App > Your profile (top right, your profile picture) > under the Privacy section tap on "Apps",  find the app you're developing and tap on it > then tap on "Data" and see if there are any activities written there. You should see your data there.

Your code puts the workout in the future (5 is June in JS), that's why you don't see it Health > Activity. Once you put in a dat

[2021-05-17 10:44] fakeheal commented on #97
I tried reproducing your problem, by using the `example/` project in this repository, changed `App.tsx` ([see my changes](https://gist.github.com/fakeheal/efc2e5a4626aa7d2a99f22fd17e7da0e)) to request read and write permissions for steps, and then query them.

If I press the "Don't allow" button in the right top corner of the permissions screen, I get presented with an alert telling me how to enab

[2021-05-17 11:36] fakeheal commented on #92
@Macelai these methods are "optional" and shouldn't be used if you don't have actual samples (values at specific time) during the workouts that's being saved.

If you want to save total calories burned and total distance for the workout, you can do so with the current version of the package, by supplying `distanceUnit` and `energyBurnedUnit`, like this:

[code]

I have created a PR for updating th

[2021-05-17 11:39] fakeheal commented on #78
@lucaspbordignon Have you had any success in reproducing this issue?

[2021-05-17 11:39] fakeheal commented on #78
@lucaspbordignon Have you had any success in reproducing this issue?

[2021-05-17 12:27] ronneldavis commented on #92
@fakeheal Thats exactly what I was looking for, thanks for that!

[2021-05-17 12:27] #92 closed

[2021-05-17 13:36] Macelai commented on #92
Thanks for clarifying @fakeheal, amazing!

[2021-05-17 14:11] Johan-dutoit opened #102 "Support for Reproductive Health"
It seems `Reproductive Health` has completely been missed

I'm specifically interested in `HKCategoryTypeIdentifierMenstrualFlow` but the others missing are

I don't have much experience with Health Kit, but if someone can guide me on one, I can use that as a template for the rest.

[2021-05-17 15:33] fakeheal commented on #102
Hello,

[I started adding these data types to the package](https://github.com/fakeheal/react-native-health/tree/support-for-reproductive-health), however I cannot find any information as of why Apple allows only writing to Health for those data types.

What is your use case? Have you came across information as to why you can't read these data types from Health?

[2021-05-18 06:21] tagirahmad commented on #99
Thank your for the reply!

That's the weird, but I do not see my app in apps list, but I've granted all the permissions on a first start of the app.

<details>
  <summary>Screenshot</summary>
![Simulator Screen Shot - iPhone 7 - 2021-05-18 at 09 18 58](https://user-images.githubusercontent.com/43289913/118600953-53a42b00-b7ba-11eb-8e02-9a4cc8dbdfe2.png)

</details>

[2021-05-18 06:47] Johan-dutoit commented on #102
Hey @fakeheal, I completely skipped checking PR's to see if someone has implemented this yet (my apologies).

My use case, is that I'm working on a fitness app that takes a users cycle into consideration.  My guess was I had to query `HKCategoryTypeIdentifierMenstrualFlow`.

Based on https://github.com/skooal/HealthKitUsageDemo, it seems that it is readable?

[2021-05-18 06:49] Johan-dutoit commented on #102
If it helps, here's the code

https://github.com/skooal/HealthKitUsageDemo/blob/91d77101d508774b9220a6b3f1fb51d5c5429105/skoal/skoal.m#L824-L841

[2021-05-18 10:53] fakeheal commented on #102
Thank you so much for the clarification, @Johan-dutoit! Silly me, I have added the permissions in the `getWritePermFromText`, but not in `getReadPermFromText` in [`RCTAppleHealthKit+TypesAndPermissions.m`](https://github.com/agencyenterprise/react-native-health/blob/master/RCTAppleHealthKit/RCTAppleHealthKit%2BTypesAndPermissions.m).

I have fixed that mistake in [my fork @ support-for-reproductiv

[2021-05-19 07:15] Johan-dutoit commented on #102
I'm going to give this a go right now, thanks for your efforts!

[2021-05-19 08:03] Johan-dutoit commented on #102
Here is what I managed to do

- Successfully requested read permissions for the reproductive health data,
- Successfully requested write permission (although couldn't find the write function, I was only going to use it to insert test data)

After some testing, I got the following feedback

**Missing types**
- Reproductive Permissions types,
- Reproductive Function types,
- Return values (i.e. the

[2021-05-19 08:15] fakeheal commented on #102
Hey, @Johan-dutoit,

You can add data manually using the Health app, to see if its fetched properly. Write functions are yet to be implemented, so this is the only way to add data right now (or use another app that writes those data types).

I think those are missing, because package's js/ts is yet to be bundled.

[2021-05-21 08:38] Johan-dutoit commented on #102
I can confirm nothing but success for what I've tried.  Thanks.

[2021-05-21 11:44] fakeheal commented on #102
I am glad it works! Thank you for testing!

 What other data types are you using in your project? Maybe we can split the work on adding the other functionality related to Reproductive Health? I can add methods for adding data for `HKCategoryTypeIdentifierMenstrualFlow`, so you can see it and use as template?

Or you can help with testing the methods I add?

[2021-05-24 01:57] blakete commented on #27
Added this to my app.json file as seen here:
[code]
Still does not work for me as I see the message:
[code]

[2021-05-24 02:13] blakete opened #104 "Cannot Initialize Health Kit, initHealthkit undefined"
**Describe the bug**
When running example code from the readme I am left with the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. ``` expo init AwesomeProject ```
2. Choose minimal typescript template
3. edit /AwesomeProject/App.tsx
[code]
2. ``` cd AwesomeProject ```
3. ``` npm start ```
4. When opening on Expo app on iPhone this error is presented in terminal.

**Expected be

[2021-05-24 07:45] Johan-dutoit commented on #102
At the moment it's purely `HKCategoryTypeIdentifierMenstrualFlow`, however I'm more than happy to split it up once you have a template in place?

[2021-05-24 08:09] denisvely commented on #100
@fakeheal Thank You!

[2021-05-24 08:15] denisvely opened #105 "Workaround for getAuthStatus / read permissions only/"
Hi,
I am trying to getAuthStatus only for read permissions.
I noticed this:
**There is no way to check authorization status for read permission. The read array will always return an array of HealthStatusCode.SharingAuthorized. see this.**

But does anyone knows a workaround for it?

Thank in advance!

Regards,
Denis

[2021-05-24 11:58] #100 closed

[2021-05-24 19:14] tagirahmad commented on #99
Can anyone help?

[2021-05-25 07:49] fakeheal commented on #99
@tagirahmad I am having problems reproducing this issue. Can you create a repository reproducing your problem?

[2021-05-25 16:33] tagirahmad commented on #99
I can't show you my production code. But I've created a test repo, here is the same problem

https://github.com/tagirahmad/healthapp-sample

[2021-05-26 08:55] Johan-dutoit commented on #105
Faced the same, but this seems intentional

see: https://stackoverflow.com/questions/29076655/healthkit-authorisation-status-is-always-1

[2021-05-27 06:53] tagirahmad commented on #99
Hi! Thank you for the reply and desire to help with my question.

In my code in both repos sample and production there is no any includeManuallyAdded.

How did you get that result with my healthapp-sample? I still don't have any updates in apple health app.

In terminal, I do have success messages as

[code]

Maybe I do run my project in wrong way or anything else? Any permissions or lack of somet

[2021-06-05 01:20] bvelasquez opened #107 "Total Fat samples?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I've noticed that permission to get total fat is available, but there is no getter for this. Is there a way to get the total fat consumed

[2021-06-05 01:33] bvelasquez commented on #107
Actually, there is a saveFood() in RCTAppleHealthKit+Methods_Dietary.m, maybe a getFood() is better than a getTotalFatSamples(), so we can get all the food entries.

[2021-06-06 10:27] tagirahmad commented on #99
Can anyone help?

[2021-06-16 14:35] rnbrk opened #110 "Fatal Exception: NSInvalidArgumentException when retrieving health data"
Thanks for creating this library.

**Describe the bug**
After migrating an app from rn-apple-healthkit to react-native-health there have been a large number of crashes reported in Crashlytics. The crash seems to occur when health data is received. However I have been unable to reproduce this error myself on an iPhone simulator or a physical device.

This is the error:
`Fatal Exception: NSInvalidAr

[2021-06-21 21:32] brianedelman commented on #97
This was happening for me too. My default simulator is on ios 13.7 and that's the only simulator where it crashes for me. Not sure if that's the issue totally though

[2021-06-24 13:26] khwalkowicz opened #112 "HKElectrocardiogram"
Hi! :wave:
Is there any chance the support for [KHElectrocardiogram](https://developer.apple.com/documentation/healthkit/hkelectrocardiogram) would come anytime soon?

[2021-06-25 14:12] eveningkid commented on #104
Hey Blake,

Seems like you're trying this in Expo Go although the module isn't supported by the Expo SDK.

You'll need to either:
- Use it in a bare React Native/Expo (not managed) project
- Create a custom runtime using Expo development clients

[2021-06-30 06:03] kp72-dev opened #115 "AppleHealthKit.getActiveEnergyBurned is not returning any data is it working?"
AppleHealthKit.getActiveEnergyBurned is not returning any data is it working?

[2021-06-30 12:43] Macelai commented on #115
Hey @kp72-dev, it's working here. Make sure you have the right permission to read and try to insert data on the Health app from Apple.

[2021-06-30 12:46] Macelai commented on #110
Hey @rnbrk, really weird, I could not reproduce this as well, please share more information if you have

[2021-06-30 21:59] EvanBacon commented on #104
Docs: https://github.com/agencyenterprise/react-native-health/blob/master/docs/Expo.md

[2021-07-01 13:05] blakete commented on #104
@EvanBacon thank you! It worked when implementing in a bare project.

[2021-07-01 13:05] #104 closed

[2021-07-01 14:12] klandell commented on #69
Hello!  Is there any progress on this?

[2021-07-01 19:06] klandell commented on #69
I've started looking into implementing this as well!  I'll create a PR if I get anywhere.

[2021-07-04 19:46] Sexual commented on #115
I'm having the same issue, but the data being returned is not recent enough. It's 4 days old. It will happily return all data before that.

[2021-07-07 16:11] KyleRosenberg opened #118 "Support querying activity goals (move, exercise, stand)"
**Is your feature request related to a problem? Please describe.**
Accessing these goals is an essential part of our app

**Describe the solution you'd like**
We can call a function or functions to retrieve these values

**Describe alternatives you've considered**
Have our users manually set their goals separately in our app

[2021-07-08 20:33] klandell opened #119 "WalkingHeartRateAverage is not exposed in JS"
**Describe the bug**
Permissions and methods exist in the native code to access WalkingHeartRateAverage. However, no code exists on the JS side to actually read the values or set the permission.

**Expected behavior**
Permission and getter should exist in JS.

[2021-07-08 20:34] klandell commented on #119
I can look into this and create a PR to resolve.

[2021-07-08 23:14] maitham commented on #48
When calling getSamples in the callback I get an empty array as a response.

[2021-07-09 15:53] maitham opened #120 "getLeanBodyMassSamples & getBodyFatPercentageSamples not exposed"
Methods getLeanBodyMassSamples & getBodyFatPercentageSamples are not exposed, these methods exist in the docs but are not exposed in the library.

[2021-07-09 17:11] klandell opened #121 "Add support for HKHeartbeatSeriesSample"
HR series samples are useful for accessing the underlying IBI measurements used to compute the heart rate variability.  This is crucial in health research settings where a researcher may want to analyze the values used to compute the hrv or use their own method instead of apple's SDNN approach.

I can tackle this after finishing the clinical records PR unless someone else wants to work on it soone

[2021-07-09 19:22] KyleRosenberg commented on #118
I've started working on this here https://github.com/KyleRosenberg/react-native-health/tree/activity-summary

[2021-07-12 16:11] GGGava commented on #120
Thank you for your contribution @maitham , we will try to address it soon, but feel free to open a PR for that too, it would be great!

[2021-07-12 16:13] GGGava commented on #118
Thank you very much @KyleRosenberg, we will be waiting for your PR, let us know if you face any issue 😄

[2021-07-13 13:24] ruanlinos opened #124 "getSamples does not return Apple Watch activity."
**Describe the bug**
Basically, when I try to bring up activities from an iPhone, that were created using an Apple Watch the return is always an empty array, however when the activities are created manually or created by strava it can return them.

**To Reproduce**
Create activities with apple watch, and try to bring them in with the lib. the array will be empty, but using strava or manually, it r

[2021-07-14 10:43] dawidp9 opened #126 "Add support to Mobility types"
Hi, are there any plans in the near future to add support for HealtKit Mobility types?
For example:
* walking speed
https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifier/3131040-walkingspeed
* walking step length
https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifier/3552088-walkingsteplength
* walking asymmetry percentage
https://developer.apple.com/do

[2021-07-14 15:16] klandell opened #127 "Add support for audio exposure types"
Add support for the headphone and environmental audio exposure types.

https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifierenvironmentalaudioexposure?language=objc
https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifierheadphoneaudioexposure?language=objc

[2021-07-14 15:21] klandell commented on #127
Just going through and creating PRs for features that I need :)

[2021-07-15 15:33] klandell commented on #112
@khwalkowicz I need this feature too.  I'll try to create a PR for this in the next few days.

[2021-07-16 00:47] likeaj6 commented on #110
Also running into this. Seems to only be when fetching StepCount

`*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[1]
`
![Screen Shot 2021-07-15 at 5 47 19 PM](https://user-images.githubusercontent.com/13268856/125875283-fbb20677-2cf1-4df1-8549-03f959272a9a.png)

[2021-07-16 16:10] klandell opened #131 "Handle permission and method availability for runtime iOS version"
Each data type in HealthKit is tied to a specific version of iOS for which it is available. There are *some* version checks `RCTAppleHealthKit+TypesAndPermissions`, but for the most part, it's up to the developer to keep track of which data types they can use. Additionally, where there are version checks in `RCTAppleHealthKit+TypesAndPermissions`, if the `getReadPermFromText` or `getWritePermFromT

[2021-07-16 16:54] klandell commented on #112
I started looking at this. The logic seems like it will be fairly similar to #130, so I would like to wait until that PR is reviewed before implementing this one. Once started, this task shouldn't take very long to complete.

[2021-07-19 21:00] #119 closed

[2021-07-19 21:12] macelai commented on #131
Hey @klandell, thanks for your time figuring this out, amazing!

Looks like a pretty good idea, I just have one question. Why do we need to wrap the functions calls, if we do this check on the permissions, wouldn't that be easier?

[2021-07-20 14:54] klandell commented on #131
@macelai The purpose of wrapping the functions is so that it's impossible for the native function to be called if the permissions it relies on don't exist.  If a developer tries to use a function that relies on permissions that don't exist, then the app will very likely crash.  (wrap is probably not the right word,  the native function is used if the permissions exist, otherwise the function is re

[2021-07-23 21:48] #69 closed

[2021-07-23 21:48] #121 closed

[2021-07-23 22:24] #118 closed

[2021-07-27 14:10] #127 closed

[2021-07-27 14:29] #112 closed

[2021-07-28 09:03] j-dublon opened #139 "getBasalEnergyBurned not returning data"
**Describe the bug**
I use the following code to retrieve basal energy burned:

[code]

And results is always an empty array. Permissions are fine, and the above works fine with getActiveEnergyBurned. I can see from health on my iPhone that there are both active and resting energy kcal, so it should be returning something.

**To Reproduce**
Steps to reproduce the behavior:

1. Clock some resting e

[2021-07-28 09:34] j-dublon commented on #139
Nope, I hadn't requested permissions for basalEnergyBurned. Not an issue!

[2021-07-28 09:34] #139 closed

[2021-08-01 17:29] moulie415 opened #140 "Native event callbacks not firing"
I've gone through the process of adding the setup code to the AppDelegate but nothing seems to work
[code]

I don't get any logs in the console.

- Device: iPhone5s
- OS: iOS 12.5.4

[2021-08-02 22:23] dancixx opened #141 "getWeightSample typescript error"
**Describe the bug**
The `getWeightSamples` methods `options` object has typescript error. `startDate` is not assignable to parameter of type 'HealthUnitOptions'.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Screenshots**
![Képernyőfotó 2021-08-03 - 0 23 30](https://user-images.githubusercontent.com/56868953/127931195-f5249cfb-f809-42a7-9f13-7c01afd122eb.png)

[2021-08-09 06:05] kp72-dev commented on #100
Facing same issue:
is there any configuration to do with info plist or somewhere else??

response I got is:

- [ ]  **AppleHealthKit.getSamples:::{"message":"error getting samples:Error Domain=com.apple.healthkit Code=5 \"Authorization not determined\" UserInfo={NSLocalizedDescription=Authorization not determined}"}**

`let storedLastDate = await getLastDate();
    let currentDate =
      moment(s

[2021-08-09 12:09] macelai commented on #100
hey @kp72-dev, check https://github.com/agencyenterprise/react-native-health/blob/master/docs/permissions.md

Maybe, `DistanceWalkingRunning` and `DistanceWalkingRunning `

[2021-08-09 12:11] macelai commented on #141
Hey @dancixx, want to open a PR for that? this a easy fix, just change the interface on `index.d.ts`

[2021-08-09 12:12] macelai commented on #140
Hey @moulie415, please give another try on that, we updated some code related to listeners.

[2021-08-09 12:13] macelai commented on #124
Hey, could not reproduce this behavior, if you have more information on that, please share

[2021-08-10 11:44] #141 closed

[2021-08-10 21:20] KyleRosenberg opened #143 "Error getting distance crashes app"
**Describe the bug**
When I called getDistance without the read permission, it returned 0 for distance at this point in the code, so it did not send the error to the callback:
https://github.com/agencyenterprise/react-native-health/blob/47584e7f2bd8d02d4d746b37f59908d533d7ed6f/RCTAppleHealthKit/RCTAppleHealthKit%2BMethods_Fitness.m#L195)

**To Reproduce**
1. Call AppleHealthKit.getDistanceWalkingR

[2021-08-17 02:37] garymillergit opened #144 "Unknown background delivery frequency, possibly not working at all"
**Describe the bug**
I am unsure if my app is receiving updates from Apple health kit in the background. I've followed all the steps of installing `react-native-health` & the background observables. I know my setup worked because I can see the following in the XCode logs.
[code]
when I build my app I also see `Setup Successful` in my logs from the following code.

_code snippet A_
[code]
I can onl

[2021-08-20 08:28] caglardurmus opened #145 "How can i save clinical documents?"
I want to save some clinical documents to user health.
How can i do that? I saw the get method but i didn't see save method.

[2021-08-20 11:38] macelai commented on #145
Hey @caglardurmus, we don't have that feature yet. Feel free to open a PR for that

[2021-08-23 12:50] Dubask opened #146 "How can I delete all steps?"
Im listening to user steps, and every time he enters the app, Im saving the steps in the DB, and then i want to init them to 0.

How can I do that?

Thank you!

[2021-08-23 13:16] macelai commented on #146
Hey @Dubask, you can't delete steps from the library, not sure if I understood your case. But looks like you would have to do a way to know when you "processed" that information already, is that so?

[2021-08-23 13:18] caglardurmus commented on #145
I see, are you considering adding such a feature soon?

[2021-08-23 13:21] macelai commented on #145
I don't think anyone is working on that right now. Most of the new features come from the community

[2021-08-23 13:46] Dubask commented on #146
Yes.
I want to know which steps are already processed, so I can add only the new steps.
Maybe there is on option to add hours?

[2021-08-23 14:11] macelai commented on #146
If you are using the background listener, I don't think so. But if you are using something like [getSamplse](https://github.com/agencyenterprise/react-native-health/blob/master/docs/getSamples.md) you can specify the date.

[2021-08-23 16:35] klandell commented on #145
@caglardurmus The clinical records are read-only properties in Apple Health.  See Apple's article here: https://developer.apple.com/documentation/healthkit/samples/accessing_health_records

[2021-08-24 07:18] #145 closed

[2021-08-30 08:29] chamile commented on #105
Similar problem here, I have granted only write permission for step count it reads me 0 as value, I have to give read and write both for get the actual value, and if I grant only read, it remains as denied, why this behavior is? it a bug

[2021-08-30 08:42] chamile opened #150 "Read/Write permissions not behave correctly"
When I grant permission from the permission sheet for sep count,

if only **read** permission

getAuthStatus return

![image](https://user-images.githubusercontent.com/12965257/131311291-f1206176-0357-406f-a045-b7ae34309906.png)
if only **write** permission

![image](https://user-images.githubusercontent.com/12965257/131311411-5b8349fa-8f65-4c9d-81be-d47fb69c0dcc.png)

so if you can see when only

[2021-08-30 10:12] chamile commented on #150
I have added only read permission, then I get this alert. and status is **sharing denined!**

![image](https://user-images.githubusercontent.com/12965257/131323386-08d1347d-edac-429d-beaf-ebd4ada2cb19.png)

My code like this now,
'import React, { useState, useEffect } from 'react';
import AppleHealthKit, {
  HealthValue,
  HealthKitPermissions,
} from 'react-native-health';
import { HealthKitEnum

[2021-08-31 13:17] j-carvalho commented on #110
@macelai  We are also having the same exact issue and not able to reproduce it. But this can potentially be fixed by just having default values for the cases when start or end date are null in the buildISO8601StringFromDate assignment right? Since this is in the method fetchSumOfSamplesOnDayForType, maybe using the "day" as the start and end date? Wdyt?

[2021-09-02 15:20] RayaneSantos opened #152 "getElectrocardiogramSamples is not a function"
Hello everyone,

I'm trying to use getElectrocardiogramSamples and receiving the message
'TypeError: _reactNativeHealth.default.getElectrocardiogramSamples is not a function'

+ getOxygenSaturationSamples return a similar error mensagem.
+ getDailyStepCountSamples works fine.

+ initHealthKit return 1
+ isAvailable return true

To understand better the problem, we use getOwnPropertyNames, like thi

[2021-09-02 16:16] klandell commented on #152
It looks like a lot of methods are missing in your console log output.  Did you use a version of this library before `1.10.0`?  Can you try cleaning the build folder, then uninstall/reinstall this library before rebuilding?

[2021-09-02 17:10] RayaneSantos commented on #152
Hello Klandell, thank you so much for the quick reply.

Before we were using rn-apple-healthkit, when we migrated we started with react-native-health version 1.10.0.

I've already done the clean, remove and added it to the lib, but no changes in the return of getOwnPropertyNames or error message.

Do you have any other suggestions?

[2021-09-07 10:46] annabelschmitz12 opened #155 "getStepCount startDate not working"
If I set startDate in the options, I still only get the result from today.

For e.g. i have in Health for 2021-09-06 24 Steps and for 2021-09-07 73 Steps so if i set the startDate in options to `new Date('2021-09-06').toISOString()`
i still get this result:
`{"endDate": "2021-09-07T11:42:58.470+0200", "startDate": "2021-09-07T11:32:57.878+0200", "value": 73}`

[2021-09-08 13:29] macelai commented on #155
Hey, actually the implementation for getStepCount is for one day, you can only pass a date, that will be the day for the step count. See `fitness_getStepCountOnDay`

[2021-09-08 13:32] macelai commented on #152
Really weird indeed, looks like your lib is not updated. Don't see anything from cleaning the build again.

[2021-09-08 13:37] #146 closed

[2021-09-08 13:40] macelai commented on #144
There were some changes related to background processing, please update with master and give a try.

[2021-09-08 13:40] #144 closed

[2021-09-08 13:40] #140 closed

[2021-09-13 07:11] krakz999 opened #156 "Is it possible to get route data for an activity using this library?"
**Describe the solution you'd like**
I'm trying to retrieve the route data the user has taken while he/she was running so I can display the path on a map. Haven't find anything about it in the docs. Is this implemented?

Thanks

[2021-09-13 12:11] macelai commented on #156
@krakz999 That's not implemented

[2021-09-13 18:42] shmkane opened #157 "getHeartRateSamples Freezes UI / Slow Performance"
**Description**

**Summary**: The react-native-health's `getHeartRateSamples` function freezes the UI for significant time while fetching data, particularly heart rate.

An [article](https://www.zdnet.com/article/apple-watch-heart-rate-every-10-minutes-motion/) claims that the Apple Watch Series 5 samples heart rate every 10 minutes- more if an activity event is in progress. From my own data/testi

[2021-09-13 18:56] macelai commented on #157
Hey,

We had some problems with other queries as well, maybe if you see them you could have some insights #113

[2021-09-13 20:32] shmkane commented on #157
Thanks for the reply.
I see that the PR you linked had a change that decreased response time by specifying a period parameter in the `NSPredicate`, but I don't see how this helps the issue I'm having. I'm currently using version 1.10.0, which I assume has this fix implemented, so I'd expect a quicker response time as well.

Furthermore, in the requests I'm making, I am also specifying the startDat

[2021-09-14 14:24] #156 closed

[2021-09-14 18:28] AlbertoMeQ commented on #41
I agree there is an issue with using the Date object directly. I managed by using Date.now() and subtracting whatever time period I needed.

[2021-09-16 03:09] alesso-x opened #158 "`saveFood` example does not work"
**Describe the bug**

Running the `saveFood` example does not work

**To Reproduce**

Follow [docs](https://github.com/agencyenterprise/react-native-health/blob/master/docs/saveFood.md)

[code]

**Expected behavior**

the food should be saved

**Screenshots**

<img width="380" alt="Screen Shot 2021-09-15 at 11 05 06 PM" src="https://user-images.githubusercontent.com/8059120/133542888-e3adbff5-f296

[2021-09-16 12:44] macelai commented on #158
I can confirm there is a bug. I found a workaround adding another property like biotin, just make sure you have write permission for biotin as well, something like tihs:

[code]

Probably there is a bug when try to create `HKCorrelation` without any nutritional data, feel free to open a PR to fix that.

[2021-09-16 14:47] sgup opened #159 "Support largeCalorie, smallCalorie, and kilocalorie"
**Is your feature request related to a problem? Please describe.**
Looks like `calorie` is being deprecated: https://developer.apple.com/documentation/healthkit/hkunit/1615359-calorie

**Describe the solution you'd like**
Support the other HKUnit types for smallCalorie, largeCalorie, etc.

[2021-09-16 20:08] macelai commented on #159
Thanks @sgup

Feel free to open a PR

[2021-09-20 08:12] madandrija opened #161 "TypeError: Cannot read property 'meter' of undefined"
**Describe the bug**
When I try to pass in units to e.g. `getLatestWeight` using `HealthUnit` type, I get an exception `TypeError: Cannot read property 'gram' of undefined` and the app crashes 😞 Same problem with e.g. `getLatestHeight` and `meter`

**To Reproduce**

1. Set up the app, call `initHealthKit`, give relevant permissions (e.g. for weight)
2. Set up a method, e.g.

[code]

**Expected beh

[2021-09-20 10:57] AlbertoMeQ opened #162 "Possibility to save Heart Rates?"
I cannot find a way to store Heart Rates with this library, just to retrieve them.

I would like to have something like:

[code]

Here is an idea on the possible implementation: https://stackoverflow.com/a/27268690/1214469 for Swift.

[2021-09-20 12:20] macelai commented on #162
hey @AlbertoMeQ, thanks for collaborating with the project. Feel free to open an PR for that.

[2021-09-20 14:25] Navipro70 commented on #105
Add empty array and reload app from xcode

[code]

[2021-09-27 01:48] alesso-x commented on #158
Ah that makes sense, thank you!

[2021-09-27 01:48] #158 closed

[2021-09-27 01:52] alesso-x commented on #107
@bvelasquez is implementing `getFood` method possible? I was going to take a look at your `getTotalFatSamples` and try to replicate for `getFood`.

[2021-09-30 13:34] Nesh108 commented on #162
I also found this useful, so I made a PR about it!

[2021-10-14 10:45] shaheem-khanzada opened #166 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Error when sending event: healthKit:ActiveEnergyBurned:setup:success with body: { }. RCTCallableJSModules is not set. This is probably because you've explicitly synthesized the RCTCallableJSModules in RCTAppleHealthKit, even though it's inherited from RCTEventEmitter.'"
2021-10-14 15:40:31.225818+0500 nikenft[2680:1606672] [HealthKit] Background observers will be added to the app
2021-10-14 15:40:31.228034+0500 nikenft[2680:1606672] [HealthKit] Background observers added to the app
2021-10-14 15:40:31.233119+0500 nikenft[2680:1606919] *** Assertion failure in -[RCTEventEmitter sendEventWithName:body:](), /Users/muhammadshaheem/Documents/Work/Projects/nikenft/node

[2021-10-20 19:24] shaheem-khanzada commented on #166
@moulie415 thanks 🙏

[2021-10-21 19:40] stopachka opened #168 "Weight as Background Observer"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to subscribe to weight changes.

**Describe the solution you'd like**
I'd love the background observer api to include weight samples as part of it's supported identifiers

**Describe alternatives you've considered**
I could simply manually call "getWeightSamples"

**Additional context**
Hey team, I noticed that

[2021-10-23 08:10] sinxwal opened #169 "Implement Body Mass Index Samples"
This great library has getLatestBmi method to access latest Body Mass Index value. But why there is no getBmiSamples method?
According to https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifier/1615698-bodymassindex
Isn't is clear how it might look like?

I will try to make PR for getBmiSamples.

[2021-10-23 08:41] sinxwal opened #170 "misleading getDailyStepCountSamples docs"
**Describe the bug**
Results of getDailyStepCountSamples are not actually aggregated by day but by 60 minutes.

**To Reproduce**
Example result with default options looks like this
[code]

The period param is missing in docs but gives ability to get daily samples count.
If we set period to 1440 (60 * 24) then the result would be:
[code]

Is usage of `period` param in `getDailyStepCountSamples` som

[2021-10-24 19:26] austinGENEreeve opened #172 "Question: Can I get the current heart rate without having to wait for the workout to end?"
I'm trying to get the current Heart Rate. I'd like to be able to be able to get it every 5 seconds but 20 or 30 seconds would work as well.

I've noticed that when I query the heart rate was only updated every 5-6 minutes. To get around this I started a workout on my watch. "Mind and body" or "other" this increased my heart rate samples to 5 seconds. Only issue is that I can't seem to query these

[2021-10-26 17:00] shmkane opened #173 "Sleep Samples Supporting Ascending Query"
Currently, sleep samples don't respect the ascending bool passed.

When the bool is true, the response returned should be returned from oldest to newest.

My end goal is to get the *first* sleep data point available in AHK. As I see it, the only alternative would be starting from some arbitrary date (for example, 1970), and iterating up while checking to see if any data is returned.

**Additional

[2021-10-28 12:11] #169 closed, assigned to nobody

[2021-10-28 12:16] #173 closed, assigned to nobody

[2021-11-10 06:30] gilador commented on #172
@austinGENEreeve did you find a way to overcome this issue?

[2021-11-11 14:09] kristerkari commented on #157
@shmkane @macelai

The probable reason for the UI freezing is that the queries are performed on the main thread ([RCTAppleHealthKit+Queries.m](https://github.com/agencyenterprise/react-native-health/blob/master/RCTAppleHealthKit/RCTAppleHealthKit%2BQueries.m)), which then blocks things in the UI since it's running on the same thread.

There is a fix in #176, which moves the queries off the main th

[2021-11-11 17:33] devth opened #177 "RNHealth: An error occured while trying to add sample from: <bundle id>"
**Describe the bug**
When I try to fetch workouts, I get an error message in the logs saying:

[code]

where `<bundle id>` is my bundle identifier.

This apparently comes from [this line](https://github.com/agencyenterprise/react-native-health/blob/c19eb40caff1b044c0c81694235421d62ebe761f/RCTAppleHealthKit/RCTAppleHealthKit%2BQueries.m#L186).

**To Reproduce**

1. Initialize permissions with `Appl

[2021-11-11 19:37] devth commented on #177
The same code runs fine on my iPhone with real workout data, so I'm guessing something about the fake workouts I generated is causing RN to throw the exception.

[2021-11-12 08:17] austinGENEreeve commented on #172
@gilador No luck.

[2021-11-13 19:02] gilador opened #179 "Wrong documentation about "getHeartbeatSeriesSamples" permission"
**Describe the bug**
In the documentation is says "Permission to **HeartRateVariability** is required to access this data."
**To Reproduce**
not relevant
**Expected behavior**
Permission needed is "**HeartbeatSeries**"
**Screenshots**
not relevant
**Smartphone (please complete the following information):**
not relevant
- OS: [e.g. iOS8.1]
- iOS

**Additional context**
not relevant

[2021-11-14 19:31] bobbyjcolley commented on #81
I'll be taking care of this one! 😄

[2021-11-14 20:07] bobbyjcolley commented on #179
I'll be taking care of this one! 😄

[2021-11-15 18:18] shmkane opened #182 "AppleHealthKit.initHealthKit's callback never executed on Xcode build"
### Describe the bug
As title states, the initHealthKit callback function is never executed resulting in requests to AHK failing with message:
[code]

This, however, only seems to happen when the app is built with Xcode, and does not happen if I just run `npm run iOS` for example.

This has only recently started happening, but I have not change the version of react-native-health that I use. I do n

[2021-11-16 21:45] shmkane commented on #78
@lucaspbordignon also curious if there's been any further progress? Having a similar issue #182 but I'm not getting any error.

[2021-11-17 17:29] madandrija commented on #161
Using any `HealthUnits` anywhere results in the mentioned exception

[2021-11-18 06:00] pankaj-ag opened #183 "Is there a way I can get the step count real time and show in my React App"
I looked at all the issues and documentation but could not figure it out.  I am creating a react native app that shows the steps count on a real-time basis.

Please let me know if that is possible with this library.

Thanks

[2021-11-20 15:38] zuhairnaqi commented on #183
Now the real-time data is showing after 20min approx.

[2021-11-21 10:20] dimitris4 opened #185 "Not listening to HeartRateVariability:new event"
I am trying to implement the background observer for reading HRV data.
It seems like the events are sent, but I am not able to listen to them on the JS side.
I am getting the following warning in the console:
WARN  Sending `healthKit:HeartRateVariabilitySDNN:new` with no listeners registered.

The react-native version I'm using is: 0.65.

My AppDelegate.m file:
<img width="875" alt="Screenshot 202

[2021-11-21 17:15] ksrchen opened #186 "appleMoveTime"
Could we please include appleMoveTime in getActivitySummary?

[2021-11-22 20:20] shmkane commented on #182
@macelai Would you be able to take a look at this? Is there anything else I can provide to help debug this? Would you be able to give me advice on what other steps I can take to debug this?

[2021-11-22 20:33] macelai commented on #182
@shmkane Hey, sorry but I don't have the skills to help you with that

[2021-11-22 20:36] shmkane commented on #182
@macelai Do you happen to know any collaborators on this project that would be able to assist with this? I'd greatly appreciate tagging them to this

[2021-11-22 20:40] macelai commented on #182
@AugustoRamos94 do you think you can help here?

[2021-11-26 22:39] #157 closed

[2021-12-01 10:49] Mextliy opened #187 "Is Background Processing for Expo Possible?"
I am interested in implementing a background listener for steps and active calories burnt as it provides a better user experience in my Expo application (preferably without ejection). Is it possible?

[2021-12-01 12:01] powerlinx-digicode opened #188 "Background Observers Issue"
**Describe the bug**
No listeners registered warnings when listeners are registered.

**To Reproduce**
1. Follow steps described here: https://github.com/agencyenterprise/react-native-health/blob/master/docs/background.md
2. Implement listeners with following types: 'healthKit:StepCount:setup:success', 'healthKit:StepCount:setup:failure', 'healthKit:StepCount:new'

**Expected behavior**
Listeners

[2021-12-08 10:39] mnakai commented on #166
Probably facing the same issue.

my environments.
Xcode 13.1
iOS 14.8.1  (iPhone 6s)
RN 0.66.3
react-native-health 1.12.0, 1.11.0, 1.10.0

The app will close immediately after launching.

Exception NSException * "Error when sending event: healthKit:ActiveEnergyBurned:setup:success with body: {\n}. RCTCallableJSModules is not set. This is probably because you've explicitly synthesized the RCTCallab

[2021-12-10 07:13] hupptechnologies opened #189 "Getting the wrong data from the apple health application using getDailyStepCountSamples"
options = {
	startDate : yesterday.toISOString(),
	endDate : today.toISOString(),
	ascending: true,
	period: 1
};
AppleHealthKit.getDailyStepCountSamples(
	options,
	(callbackError, results) => {
		// logic
	},
);

In My AppHealth Device App showing the 236 steps but when i try to sync the data from the AppleHealthKit.getDailyStepCountSamples method sends the response and it contains the 234 steps

[2021-12-10 12:21] c-goettert commented on #110
We are facing the same issue, any news on this? We are also using Version 1.7 so is there a chance that this is fixed in the latest release?

[2021-12-12 21:19] bvelasquez opened #190 "Heart Rate Samples limited by type (i.e. Active, sedentary, etc.)?"
Is there a way to filter the HR samples by sedentary or active HR? I only want the average HR when sedentary.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Be able to filter the HR samples by the type of HR reading, either during workout or sedent

[2021-12-12 21:24] #190 closed

[2021-12-14 04:39] mnakai commented on #166
Did it work after downgrading?

Im facing the same issue on v1.10.0,v1.11.0,v1.12.0.

[2021-12-14 11:32] chramos commented on #188
same issue here

[2021-12-19 12:36] dimitris4 opened #192 "Write data to Respiratory category"
I would like to be able to save data for "Forced Expiratory Volume", "Forced Vital Capacity", "Peak Expiratory Flow Rate".

[2021-12-20 13:25] JaafarRammal commented on #161
I am having the same issue.

Below a simple script using typescript:

[code]
[code]

Even if try to just do `console.log(HealthUnit.meter)`, I get the same error.

And indeed, using the unit as a string works, and typescript will complain about the type... :/

[2021-12-20 13:38] JaafarRammal commented on #161
I had the same issue and would have appreciated the use of the enum directly

Although @madandrija I think it can be resolved by using:

[code]

Which gives the clean typescript code

[code]

[2021-12-20 13:43] madandrija commented on #161
@JaafarRammal - nice catch; could be that this is the way to go since I see it used that way in the examples

[2021-12-20 13:47] JaafarRammal commented on #161
Cool! I would still like to know why the enum access method was failing though 😄

I think even in the enum there is no `cm` and `kg`, only `meter` and `gram` (so you have to do the conversion)

[2021-12-20 13:48] madandrija commented on #161
@JaafarRammal - yeah, I'll wait at least for their response in this issue (since we have @lucaspbordignon assigned)

[2021-12-20 14:52] macelai commented on #161
hey @madandrija, there is no one assigned to it actually.

[2021-12-20 15:01] madandrija commented on #161
@macelai - they were until 6 minutes ago when you unassigned them 😂

In any case, is this something that will be resolved by having Typescript definitions updated or are we supposed to use the Enum and do manual conversions?

[2021-12-20 21:51] jdubs1994 opened #193 "[getActivitySummary] Activity Summary Date Components Require Hour to not be set"
**Describe the bug**
Hey I am trying to use getActivitySummary, https://github.com/agencyenterprise/react-native-health/blob/master/docs/getActivitySummary.md and I keep getting the error: Activity Summary Date Components Require Hour to not be set. Ive tried just sending the date in multiple different formats without the hour. Nothing I do seems to let me get past the error. I am trying to use ``

[2021-12-20 23:24] #193 closed

[2021-12-22 15:26] AlbertoMeQ opened #194 "Using `getWater` crashes the app"
**Describe the bug**
`Thread 2: EXC_BAD_ACCESS (code=2, address=0x70000a798ff8)` is returned when using `getWater`.

**To Reproduce**

[code]
**Expected behavior**
The function should return the correct value of water and not crash.

**Smartphone (please complete the following information):**

- Device: Simulator (iOS 15.0)

[2021-12-24 11:25] divsbhalala opened #195 "Use of undeclared identifier 'fhirResourceVersion'"
i am getting this error after adding this package, below are that error

![image](https://user-images.githubusercontent.com/12185309/147348792-0e78123b-3d21-4dfe-96df-224e3779144b.png)
![image](https://user-images.githubusercontent.com/12185309/147348840-91c28d7e-1627-4fa8-955d-3a3dd3b65df1.png)

- OS: MAC

[2021-12-27 10:14] fyftech commented on #97
We're facing the same issue with iOS 13 simulators and devices. Any one come up with a workaround for now?

[2021-12-28 21:22] abhishek-pokhriyal opened #196 "`AppleHealthKit.saveWeight` and `AppleHealthKit.saveHeight` not working"
`AppleHealthKit.saveWeight` and `AppleHealthKit.saveHeight` fail with the following error even after the user has accepted all the permission.

[code]

**`react-native info**
[code]

[2021-12-28 21:30] abhishek-pokhriyal commented on #196
Apologies!!! Right after I created the issue thought to check the permission and found that I was not asking for `write` permission to the height and weight. Added those and now it works great!

[code]

[2021-12-28 21:30] #196 closed

[2021-12-29 13:12] amerdiglisic commented on #188
same issue here

[2021-12-31 05:15] hupptechnologies commented on #189
Any update?

[2022-01-05 10:25] AlbertoMeQ commented on #155
Any way to get this to return a list of steps for each date in the range?

[2022-01-05 10:41] AlbertoMeQ commented on #194
Also `saveWater` crashes the app when used:

[code]

[2022-01-05 11:07] AlbertoMeQ opened #197 "saveMindfulSession always returns 0 as result"
Using `saveMindfulSession` always returns 0, even if the amount added is greater than that.

I would expect it to contain the actual amount of hours, minutes, seconds, etc. that I just added.

[2022-01-06 07:37] imariic opened #198 "getBodyFatPercentageSamples bug"
Hello I found a bug in `getBodyFatPercentageSamples` method. When I manually enter a value in Health app for body fat in percentages, e.g. `4.4`, `getBodyFatPercentageSamples` will return `0.044`

[2022-01-10 07:59] ychinamale opened #199 "Is there a way to detect if my connection to Apple Health is severed, or if there is a problem with the connection?"
Firstly, thanks for all the great work you have done with this package.

Wanted to know if there is a way to detect that my connection to Apple Health has broken somehow.

For context: I successfully integrated Apple Health into my app using this package, and I can read steps and other health data just fine for a while. But after a few days, it randomly stops working. When this happens, sometimes

[2022-01-12 06:00] mgfuller333 commented on #126
Are there any updates on this. Or is this something that users can do themselves by forking a copy and adding the data types manually?

[2022-01-12 06:01] mgfuller333 commented on #126
Also this is a super necessary enhancement. The mobility data is a game changer!! Also data such as fall count and other injury data would be nice too

[2022-01-12 12:19] macelai commented on #126
Hey, this repository doesn't have any active developer, PRs are welcome!

[2022-01-13 04:19] eitanpop opened #201 "App crashing when configuring background observer"
**Describe the bug**
Adding the line `[[RCTAppleHealthKit new] initializeBackgroundObservers:bridge];` causes the app to crash when opening
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'AppDelegate.m' and implement the changes listed here: https://github.com/agencyenterprise/react-native-health/blob/HEAD/docs/background.md

**Expected behavior**
App should report health data in the

[2022-01-13 19:33] camposer commented on #166
@moulie415 downgrading to 1.10.0 works. But when you try to get samples in the background listener, it always obtains empty. The console logs multiple times: "RNHealth: An error occured while trying to add sample from: com.apple.health.<bundle-id>" (similar to #177)

Any ideas?

My App.tx:
[code]

[2022-01-15 06:34] mgfuller333 commented on #126
Is there a good pull request/previous addition that you can link me to so I can get an idea of how to implement this?

[2022-01-16 21:15] ddtch commented on #201
Same here, any solutions?

[2022-01-17 21:45] AidenForrest commented on #172
@austinGENEreeve I know it's been a while since you posted but have you had any luck as I'm interesting in a similar feature for my app? Thanks

[2022-01-25 05:50] AlexNolasco commented on #201
Additional exception info

`Error when sending event: healthKit:ActiveEnergyBurned:setup:success with body: {\n}. RCTCallableJSModules is not set.
This is probably because you've explicitly synthesized the RCTCallableJSModules in RCTAppleHealthKit,
even though it's inherited from RCTEventEmitter.`

[2022-01-31 17:49] gigby commented on #110
@lucaspbordignon I am using 1.12 version of this library and my users get the same crashes every day. I don't understand the reason. I can't reproduce this bug but see them on bugsnag. Any solution, advice? Maybe these bugs are related to iOS 15 (and later) updates?
@c-goettert @rnbrk  Did you find any working solution to prevent this bug?

[2022-02-05 18:00] evanjmg commented on #155
passing the day does not work for me as described. I get 0 steps even when manually added is true. I have 12000 added for the day I send -> new Date().toISOString()

[2022-02-05 18:08] evanjmg commented on #155
I resolved this issue by adding the read permission to permissions AppleHealthKit.Constants.Permissions.Steps and using getDailyStepCountSamples. @macelai  you should close this issue

[2022-02-05 19:24] #155 closed

[2022-02-07 16:54] c-goettert commented on #110
@gigby unfortunatley no, we couldn't find a solution / reason for this bug yet..

[2022-02-07 17:17] gigby commented on #110
@c-goettert  I found out. It happens on iOS 15.2 or later due to prewarming feature. You can easily awoid these bugs if you don't call Healthkit from a background app state. No background calls no these bugs

[2022-02-09 07:29] dimitris4 opened #206 "Build fails with error "Duplicate symbols for architecture x86_64" under Xcode"
I'm using the react-native-health and the react-native-ble-manager libraries in the same project. The problem is that both libraries have a property called hasListeners, which causes the error "Duplicate symbols for architecture x86_64" under Xcode. I can fix it by setting 'NO COMMON BLOCKS' to NO inside XCode -> Pods, but I was wondering whether the names of these properties can be changed in the

[2022-02-09 09:14] mmubeennisar opened #207 "Sync data to my server in background state every hour"
I want to sync data even when app is terminated, i want to upload the data to my server.
How is that possible for me ?

[2022-02-09 09:20] mmubeennisar commented on #207
Ops put the wrong label, its a question

[2022-02-09 11:38] bodrius commented on #166
same error

[2022-02-14 23:51] nguyening20 opened #208 "Access the user’s route data for a workout"
**Is your feature request related to a problem? Please describe.**
I'd like to access the user's route data from a workout.

**Describe the solution you'd like**
Possibly add a new method called "getWorkoutRoute"

**Additional context**
Hey guys, I think this feature would be useful to have. The data could be used for displaying cool visuals and for data analytics.

This [article](https://develope

[2022-02-16 09:23] c-goettert commented on #110
@gigby thanks for letting me know, we indeed use background calls to fetch health data. We'll deactivate those and see if this will solve the issue.

[2022-02-16 17:12] cdavid138 commented on #188
Getting the issue here also, did any of you find a solution?

[2022-02-21 18:00] GGGava commented on #207
Check the background observers

[2022-03-08 00:52] JDMathew commented on #201
Same issue

[2022-03-09 15:14] JDMathew commented on #201
@GGGava, is it possible to get anyone from @agencyenterprise to look into this. Issue #116 has been open since October and it is essentially the same underlying problem due to inheritance from RCTEventEmitter. This may only be a problem on M1. I am running the latest react-native version `0.67.3` and have tested this on a fresh project with the same issue. I would be happy to expose that repo if y

[2022-03-09 15:22] JDMathew commented on #166
@AnnyFigueira, I believe this is an issue with this commit (https://github.com/agencyenterprise/react-native-health/commit/8d8cb16d91b4ada165a67985235468e5066b9563). It may only be an issue on M1.

[2022-03-10 13:52] GGGava commented on #201
Hello, we currently don't have an active developer in this project, but I will try to investigate this in my spare time, hopefully this week. Until then, if you guys find a solution for that, a PR would be most welcome!

[2022-03-14 13:15] charithreddyv opened #210 "startDate and endDate timestamps are always different."
**Describe the bug**
Hai There, i am using the latest version of this package and what i found out is that every time the synch happens the startDate and endDate timestamps changes. i am not sure if this is how HealthKit sends data or its bug from the package. I am expected to store data points like steps, stairs ... based on their timestamps but with this bug the data is doubly counted with the s

[2022-03-15 15:04] anthonybattel opened #211 "getAnchoredWorkouts function return manual added workout even with includeManuallyAdded:false option"
Hi,

Apple health allow to add workouts manually but I don't want to get them
My problem is that GetAnchoredWorkouts function return manual added workouts even with includeManuallyAdded:false option.

Thanks for your help

iPhone12
iOS 15.2

[2022-03-15 17:02] charithreddyv commented on #210
Hai There,
i want to update my observations here.
[link](https://wilcosource2014-my.sharepoint.com/:i:/g/personal/charithv_wilcosource_com/ERiy95BbB3VNvhTE25HGT4YBRYQwpPUnNwQ46aA8MOw1Dw) to original dataset on appleHealth.

First Dataset requested at 09:56PM (look at timestamps of all records minutes is 26)

[code]

Dataset request at 09:58PM (minutes are all same here)

[code]

At 10:03 PM

[code

[2022-03-19 20:33] mgfuller333 commented on #208
Hey How did you pull the UUID string from the anchored workout? I am not sure how to access that array of data

[2022-03-19 22:38] nguyening20 commented on #208
In the [getAnchoredWorkouts](https://github.com/agencyenterprise/react-native-health/blob/master/docs/getAnchoredWorkouts.md) query, you can access the UUID string from the Id field. It's not in the documentation, but you should see it in an anchored workout response. I hope this helps.

[2022-03-20 23:12] GGGava commented on #201
Hello guys, I was not able to reproduce this issue in the libs example app. I am on a M1 Mac and running on simulator. Maybe you can help me:

1- Does it happen at all on simulator or just on iPhones?
2- Only adding `[[RCTAppleHealthKit new] initializeBackgroundObservers:bridge];`to the delegate is enough or is there something else in you App.tsx?
3- Building the app with rosetta changes anything?

[2022-03-20 23:14] GGGava commented on #201
@JDMathew if you could share your repo with instructions to run it would be awesome :D

[2022-03-21 01:24] naehyungkonnectapp opened #212 "GetFiberSamples"
I can't find a function to get amount of fiber i have consumed per day.

Is there one in the library?

[2022-03-21 02:01] naehyungkonnectapp opened #213 "Get Total fat samples function"
What values from apple health app does getTotalFatSamples function get
Are they one of the

- Monounsaturated Fat
- Polyunsatureated Fat
- Saturated Fat

 or all of them?

[2022-03-21 10:53] abarisic86 commented on #102
@Johan-dutoit @fakeheal is there an update on this topic? is there a plan for it to be integrated at some point?

[2022-03-21 18:14] charithreddyv commented on #210
any update on this so far ?

[2022-03-23 15:46] Smokier opened #214 "obtaining data isn't consistent when requested while an apple watch is connected"
Requesting data like steps and heart rate doesnt work consitently when an apple watch is connect but it does with other devices and even with the phone steps sensor

Im currently using this effect to update the data each 5 seconds requesting hearth rate, steps, and energy burned.
React.useEffect(() => {
    const interval = setInterval(() => {
        Platform.OS == 'ios' && hearthAllowed &&

[2022-03-24 17:14] JDMathew commented on #201
@GGGava, sorry for the delay in getting the repo up. I am unable to share my main project but I created a fresh RN project and setup `react-native-health` in it with the same issue. [Here](https://github.com/JDMathew/rn-health-bridge) is the repo.

[2022-03-24 17:28] clivewatts commented on #201
Hi @GGGava, thanks for putting time into this issue so far, I am @JDMathew's co-worker.

I have run the project entirely using rosetta and have had the same issue.

I also had the issue on my Intel Mac and my M1 mac, but on the intel mac, I was able to run the project successfully some of the time, but after a full clear, a fresh pull of the repo and a rebuild it then presented with the same issue

[2022-03-24 18:00] jhbarnett commented on #187
Attempting to do the same with the [config plugin](https://docs.expo.dev/guides/config-plugins/) below. Will report back whether I'm successful or not.

[code]

[2022-03-24 19:16] mgfuller333 commented on #208
Ok if you're able to hop in discord sometime and brainstorm with me how to do it, I have swift code made I just need help integrating it into react native.

[2022-03-25 01:12] nguyening20 commented on #208
Yeah, I can most definitely try to help you out.

[2022-04-01 19:11] CaptainJeff opened #216 "Additional Background Observer Datapoints"
**Is your feature request related to a problem? Please describe.**
I am interested in adding more background observer data points to the project and was hoping for some confirmation that I am going about this the right way.

**Describe the solution you'd like**
I would like to add additional measurements for background syncing and create a PR for it. I was just hoping that someone from the team wo

[2022-04-02 13:20] ghashi opened #217 "[Question] Do "Background observers" work when the app is closed?"
I've read the following links:
- https://github.com/agencyenterprise/react-native-health/blob/master/docs/background.md
- https://stackoverflow.com/questions/26375767/healthkit-background-delivery-when-app-is-not-running

I've integrated "react-native-health" and "background observers" seem to work when the app is in background. I'm testing on a simulator.
When I kill the app, then the "background

[2022-04-03 23:00] GGGava commented on #201
Hello, sorry for the delay.

@JDMathew thank you for your repo, I could easily reproduce the issue. It seems that the react/react-native version on Package.json file was the reason that this issue was not happening on the example app.

[code]

By changing this I was able to reproduce it. Not sure what is going on yet, but if downgrading is viable to you this may be a temporary fix to the issue. I

[2022-04-04 15:50] JDMathew commented on #201
Hi @GGGava, ah that is interesting. Unfortunately we can't downgrade react native at this point in time. We have downgraded `react-native-health` to `1.10.0` as it isn't broken in that version. We would be happy to test on the next version once a fix is released.

We are also currently experiencing a number of stability issues where data stops syncing even though health permissions are granted.

[2022-04-06 02:18] GGGava commented on #201
Hey @JDMathew could you help me testing c1f4dd1e2c65a2906110c07e23dbe0d527fbbb79? This seems to have solved the crash but I was not able to test background deliveries in the example app. If you are unable, I can give a second shot next week.

[2022-04-06 20:31] millro04 commented on #188
Same thing here!

[2022-04-06 22:07] CaptainJeff commented on #217
@ghashi i'm having the same issue. Have you made any progress here?

[2022-04-06 22:08] CaptainJeff commented on #188
Same here! Anyone find a solution?

[2022-04-07 13:59] Gytjarek commented on #207
@mmubeennisar were you able to make it work?

[2022-04-11 15:52] gabrieltnishimura commented on #201
Hi @GGGava thank you so much for the work in this issue. I can attest that [c1f4dd1](https://github.com/agencyenterprise/react-native-health/commit/c1f4dd1e2c65a2906110c07e23dbe0d527fbbb79) does **not** work in reestablishing the background deliveries. I think it is more related to https://github.com/agencyenterprise/react-native-health/issues/144 and https://github.com/agencyenterprise/react-nati

[2022-04-11 19:10] devth commented on #208
Any updates on this? I'd love to be able to access this data.

[2022-04-15 18:23] nguyening20 commented on #208
@devth I'm considering opening a PR in the near future, but feel free to take a look at [my fork](https://github.com/nguyening20/react-native-health).

[2022-04-15 18:33] devth commented on #208
Thanks @nguyening20, I'll check out your fork! And please do open a PR if you can.

[2022-04-18 16:43] ghashi commented on #217
@CaptainJeff I uploaded a test version on TestFlight and now I can confirm that  "Background observers" work even when the app is closed/terminated/killed 🎉

It may take some time (here it was around 2 minutes), but it works

# How I tested:

I created a code like this
[code]

Both the notification and the http requests were successful

[2022-04-19 07:40] kristerkari commented on #201
@gabrieltnishimura Not sure if you are aware of it or not, but there are some minimum update frequencies depending on the type of data. Have a look at this SO thread:
https://stackoverflow.com/a/35073904/1439994

[2022-04-25 10:12] c-goettert commented on #110
@gigby unfortunatly we still see this issue after disabling our background task. How did you make sure that Healthkit is not called from a background state? Did you use AppState-Events from React Native or did you just remove any existing Background Observers? Or did you remove Background-Fetch Entitlement from your app completely?

[2022-04-25 21:03] gigby commented on #110
@c-goettert
And somewhere in code I use previous func to get some data like this:
[code]

[2022-05-04 07:59] RameshKumarsd opened #219 "getSamples always return empty"
**Describe the bug**
getSamples always return empty value
**This is my code**
  const getWorouts = () => {
    let options = {
      startDate: startDate.toISOString(),
      endDate: endDate.toISOString(),
      type: 'Running', // one of: ['Walking', 'StairClimbing', 'Running', 'Cycling', 'Workout']
    };
    console.log(options);

    AppleHealthKit.getSamples(
      options,
      (err: Objec

[2022-05-05 12:26] gigby commented on #177
@devth Hi! I get the same errors. And I can't see my events that were added via "saveWorkout" method. But I can see these events in Healthkit app. How did you solve this issue??

[2022-05-05 17:50] gigby commented on #177
Fixed on my master - https://github.com/Warecorp/react-native-health

[2022-05-05 21:12] gigby commented on #177
@devth I know objective-c poorly. But my issue is not related to a physical device or simulator. This is just a logical issue in this library and I fixed it. About PR - is this library alive now? It seems abandoned

[2022-05-05 23:39] MrTin opened #220 "Q: Run statistical queries"
**Is your feature request related to a problem? Please describe.**
_My apologies in advance if this already exists and I'm just unable to find it._

Is it possible to run queries for Statistical Collections using this library?

**Describe the solution you'd like**
We're looking at drawing charts and graphs and we don't want to process samples individually to do this. I found documentation at https

[2022-05-12 05:55] brianfoody commented on #187
Any luck @jhbarnett [jhbarnett](https://github.com/jhbarnett)??

[2022-05-12 14:12] jhbarnett commented on #187
Yeah @brianfoody it's working 90% great. We're still trying to pinpoint an issue with background delivery when the app is in a killed state, but near as we can tell this plugin is making all the right mods.

[2022-05-12 14:23] jhbarnett commented on #187
For anyone else that stumbles upon this, [here](https://docs.expo.dev/guides/config-plugins/#importing-plugins) are the steps to integrate in your own project. I'll explore a PR here once our app has shipped.

[2022-05-23 07:57] Nushaine commented on #201
They also have an example app which you can play around with [here](https://github.com/agencyenterprise/react-native-health/tree/master/example). If possible, you could transfer all dependancies/files from your existing app to this one and work up from there -- this is what worked for me.

[2022-05-24 20:37] hammad0316 commented on #110
@c-goettert Were you able to look into the thing mentioned above by @gigby?

I'm getting this same issue but not on every phone that runs this code. I'm not sure if it's something related to initializing apple health after checking if the app isn't in the background as our code runs when the app is open.

[2022-05-25 10:07] #211 closed

[2022-05-25 17:35] macelai commented on #166
There is no one working actively on this project, we are open to PRs.

[2022-06-01 15:08] MUZAFFAR-PURELOGICS opened #221 "Logout/signout functionality is not added"
Hi,
Kindly add Logout / sign-out functionality in to this package.
User can sign-out and use different account of health-kit.

[2022-06-11 18:21] ha3 commented on #201
@GGGava hi. It seems like background observers configuration still causes crash with the latest react native version. Do you plan to merge that commit, at least to prevent the crash?

[2022-06-14 12:21] walterholohan commented on #208
@nguyening20 amazing stuff, I need to use workoutRoute too, will use your fork for now but would be great if you could raise a PR.

@macelai are you still maintaining this repo?

[2022-06-14 13:07] mgfuller333 commented on #208
![image](https://user-images.githubusercontent.com/66493966/173584358-506ca88c-c05c-460d-9297-478e20678dda.png)

[2022-06-14 13:08] mgfuller333 commented on #208
Just request HKWorkoutRoutes and you should get it.

[2022-06-14 13:12] macelai commented on #208
hey @walterholohan, we are open to new PRs

[2022-06-14 13:21] nguyening20 commented on #208
@walterholohan This method only allows you to retrieve the workout route. It looks like you are trying to ask for write permissions. Moving AppleHealthKit.Constants.Permissions.WorkoutRoute to the read array should solve the issue here.

[2022-06-14 13:27] walterholohan commented on #208
@macelai I have raised a PR https://github.com/agencyenterprise/react-native-health/pull/222/files that will allow users to ask for write permissions for WorkoutRoute

[2022-06-14 13:34] walterholohan commented on #208
@nguyening20 apologies but it seems that since I forked off your repo and then tried to create a PR against this repo it has included all your changes in the PR too. Can you take a review of the changes - https://github.com/agencyenterprise/react-native-health/pull/222

[2022-06-14 13:44] nguyening20 commented on #208
@walterholohan I don't see a method to handle saving any workout route data to Apple HealthKit so I don't necessarily understand why you would need to ask for write permissions in this case.

[2022-06-14 14:26] walterholohan commented on #208
@nguyening20 we have built an apple watch app for our RN app (https://www.runna.com/) that tracks a user while running. And as part of this, we write to the workoutRoute in HealthKit. This was the only library I could find that would allow us to ask the user to accept write permissions for health kit via the mobile app.

[2022-06-14 15:59] nguyening20 commented on #208
@walterholohan Please consider sharing or adding how you configured writing/saving workout routes to Apple HealthKit. I know @mgfuller333 and I would like this functionality included with this library. Thanks.

[2022-06-14 16:16] walterholohan commented on #208
@nguyening20 will do. At the moment we are saving routes to HealthKit via the apple watch app, once we have this fully working I can share the swift code with you.

[2022-06-14 16:17] walterholohan commented on #208
@nguyening20 I will close my PR as its just a duplicate of yours

[2022-06-19 19:42] Nolascoin commented on #201
Almost there, no crash occurs with your changes. Do you plan to use "hasListeners" since you added NSNotificationCenter to emitEventWithName?

[2022-06-27 14:29] fxola opened #225 "Newly recorded health data from HealthKit doesn't show up if App is in foreground."
**Is your feature request related to a problem? Please describe.**
I would like to take health data samples that have been recorded not longer than 10-15 minutes (essentially fresh data). Whenever I try to get the health data using some of the specified library methods like `getHeartRateSamples` and `getElectrocardiogramSamples` and I encounter stale data, I prompt the users to take new health rea

[2022-06-28 21:33] Nolascoin commented on #201
I've managed to avoid the crashes with the commit below, but this needs further reviews.
https://github.com/Nolascoin/react-native-health/commit/0ec446385963887aaf176531dfa1a88b85e0001f

[2022-06-29 11:55] SharonGilmore opened #227 "initHealthKit doesn't seem to tell me the user's response"
When I run initHealthKit like this:

AppleHealthKit.initHealthKit(permissions, (error, result) => {
        if (error) {
          return;
        }

I assumed that error would be triggered if the user denied permission, but this doesn't seem to be the case - am I right in thinking there will only be an error if there was an actual problem with showing the dialog etc?

Then, result seem to be 1 no

[2022-06-29 12:43] egealpay commented on #110
Any update on this bug? We are receiving this error mostly on iOS 15, and few in iOS 14. We do not intentionally call any method from background state.

[2022-06-29 16:39] brandon-austin-lark commented on #227
+1 I also am unable to see the users response. When checking to see users granted permissions, i'm just given an array of 1's. According to [apple docs](https://developer.apple.com/documentation/healthkit/hkhealthstore/1614154-authorizationstatusfortype?language=objc)  "_To help prevent possible leaks of sensitive health information, your app cannot determine whether or not a user has granted perm

[2022-07-01 19:54] brandon-austin-lark commented on #194
Did you find a fix for this?

[2022-07-04 18:46] walterholohan commented on #227
Looking at the HKAuthorizationStatus enum the following should be retuned, suggesting that `1` should be returned when a user presses `Do Not Allow` and `2` should be returned when a user presses `allow`
[code]

[2022-07-04 19:18] walterholohan commented on #227
If you call `AppleHealthKit.getAuthStatus` after `initHealthKit` you will get the array permission status. However the `read` status will always be returned as 1 even if you press allow e.g. `{"permissions": {"read": [1, 1, 1, 1], "write": [2, 2]}}`

[2022-07-05 16:42] theRealSheng opened #230 "Wheelchair Distance Permission"
For the permissions, could you add the wheelchair distance?

[2022-07-07 08:34] theRealSheng opened #231 "Typescript: initHealthKit return number as result not HealthValue"
**Describe the bug**
When using method initHealthKit, the results return a number not HealthValue

**To Reproduce**
`
const { DistanceCycling, StepCount, Steps, DistanceWalkingRunning, DistanceSwimming, Workout } =
  AppleHealthKit.Constants.Permissions;
const iosPermissionsWithWorkout = {
  permissions: {
    read: [DistanceCycling, StepCount, Steps, DistanceWalkingRunning, DistanceSwimming, Work

[2022-07-08 19:49] Nushaine commented on #201
Did you guys enable background observers under Signing & Capabilities > All in your .xcworkspace file?  I had it enabled under Signing & Capabilities > Release, so the background wouldn't work in development mode.

[2022-07-12 14:45] CaptainJeff opened #233 "Discussion: Refactor background observers to use the same eventEmitter"
**Is your feature request related to a problem? Please describe.**
In order to listen to multiple measurement types in the background, you have to create 4 event emitters for every type. e.g.

[code]

**Describe the solution you'd like**
It seems like we could refactor this to reuse the 4 events and pass the measurement type as the parameter instead of an empty object

**Describe alternatives you'

[2022-07-14 14:35] pavelbabenko commented on #110
Having the same issue

[2022-07-17 19:01] mgfuller333 opened #234 "React Native Discord"
Here is the link to the React Native Discord.

https://discord.gg/NxUGuvKB

Let's schedule a community wide meeting to get to know each other as developers.

Let's also learn about how we have created some cool things with React Native Health.

I also would like to have a discussion on the direction that we can take React Native Health with the recent updates to
Apple Healthkit.

[2022-07-17 19:01] mgfuller333 opened #235 "React Native Discord"
Here is the link to the React Native Discord.

https://discord.gg/NxUGuvKB

Let's schedule a community wide meeting to get to know each other as developers.

Let's also learn about how we have created some cool things with React Native Health.

I also would like to have a discussion on the direction that we can take React Native Health with the recent updates to
Apple Healthkit.

[2022-07-19 13:40] aawolf1099 opened #236 "NativeAppEventEmitter.addListener('healthKit:Workout:new', cb) automatically triggers callback -- each time we open the app"
**Describe the bug**
**NativeAppEventEmitter.addListener('healthKit:Workout:new', cb) automatically triggers callback - Each time we open the app these listeners triggers which calls the http request all the time which is not ideal.
It should be called only once if there is any new data received.**

Anyone faced that too?

**Expected behavior**
Listeners should only be called if there is any new d

[2022-07-23 20:02] MasterHamster opened #237 "Question: What permission to i need to request in order to get SnowSports data (downhillskiing, snowboarding..)"

[2022-07-23 20:40] MasterHamster commented on #219
is this bug fixed in the latest version? im trying to get DownhillSkiing data

[2022-07-25 18:38] MasterHamster commented on #237
please someone help :)

[2022-07-25 22:55] MasterHamster opened #238 "Add support for HKQuantityTypeIdentifierDistanceDownhillSnowSports"
Right now the package does not support requesting permission for SnowSports data.

I would be really happy if you would add it :)

link related:
https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifierdistancedownhillsnowsports?language=objc

[2022-07-25 22:56] #237 closed

[2022-07-30 21:37] MasterHamster commented on #238
Can anybody please help me i need code example to request for permissions and then get date for DownhillSkiing

[2022-08-02 13:28] nguyening20 commented on #238
You could probably see how I accomplished adding permissions for workout routes in this pull request [#223](https://github.com/agencyenterprise/react-native-health/pull/223). You will most likely need to add the permission to the [typesandpermission](https://github.com/agencyenterprise/react-native-health/pull/223/files#diff-d47a90229cb202ed51bd683738a9a376d6f5112b47413c0f5595d2efdab6451e) file.

[2022-08-03 14:55] ryanb93 commented on #221
There are no concepts of accounts in HealthKit, each device has a single data store. The member must go into the Health application to disable access to individual applications, there is no way to bring up the permissions screen a second time once shown without uninstalling and reinstalling the app.

[2022-08-04 14:12] #208 closed

[2022-08-07 21:59] jonstuebe commented on #194
So not 100% if I've squashed the bug yet, but I'm calling `isAvailable` first and so far I haven't had a crash.

[2022-08-15 18:13] brandon-austin-lark commented on #110
+1 Looks like mostly users on iOS 15

[2022-08-19 14:01] nguyening20 opened #242 "Writing Workout Routes to Apple HealthKit"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-01 08:38] junedomingo commented on #188
Same here!

I'm on version 1.13.0
RN: 67.4
R: 17.0.2

[2022-09-05 08:08] c-goettert commented on #110
We are also still facing this issue. For the next release I will try @gigby's solution to check if the app is in foreground before interacting with HealthKit.

[2022-09-15 08:26] agwelford opened #248 "3rd Party Data in Health Kit not pulling through API."
3rd Party Data in Health Kit not pulling through API. Even if Whoop data and/or Garmin data sits in Apple Health App, it cannot be pulled by the API

Reproduce: Connect Whoop or Garmin data into Apple Health Kit and try and view the data pulled in the API.

Does anyone else experience this issue?

[2022-09-20 18:44] brianedelman commented on #97
Any news here? This causes the app to become completely unusable in iso 13

[2022-09-21 14:28] walterholohan commented on #238
I just added one for RunningSpeed if you want to use this PR as an example - https://github.com/agencyenterprise/react-native-health/pull/249

[2022-09-23 11:12] devpascoe commented on #236
Getting the same. v1.10.0

[2022-09-23 11:13] devpascoe commented on #166
Hey folks. Still getting this, anyone found a work around yet? Rolled back to 1.10.0 for the time being.

[2022-09-29 16:20] MartinThomasCW commented on #236
Same here on v.1.10.0.   Believe it doesn't work at all in later releases (awaiting fix in 1.14.0) - also the intent raise is causing my app to crash - but unsure why at present! (it runs the same code as if it was polling in the foreground and that never crashes at all!)

[2022-10-03 08:23] Tohix commented on #201
I have crash report. Maybe it help solve problem with crash application when we use background observer
Version: 1.10

`0   libsystem_platform.dylib      	       0x221be0ff8 _platform_strlen + 56
1   libicucore.A.dylib            	       0x1b0760ba8 icu::StringPiece::StringPiece(char const*) + 36
2   libicucore.A.dylib            	       0x1b086e888 0x1b070c000 + 1452168
3   libicucore.A.dylib

[2022-10-04 04:50] kuldeep-prologic opened #250 "Getting new health features from Apple watch series 8"
The new Apple watch series 8 has some new health tracking features we will want to be able to connect to.

Please check out the two links below from their platform:

    Temperature (helps with high temperature, ovulation)
    Sleep (multistage tracking)
    Blood oxygen
    Heart ECG

https://www.apple.com/apple-watch-series-8/
https://geometricgoods.com/blogs/apple-watch-8-faq/apple-watch-8-seri

[2022-10-05 03:47] WayneKeenan commented on #201
I'm on RN 0.72.0 on an M1 Mac and can also say that downgrading from 1.13.0 to 1.10.0 works for me on a iPhone8 device and simulator.

[2022-10-10 02:30] jaikantshikray commented on #210
facing this issue any update ?

[2022-10-18 08:20] yhanssens commented on #110
We're getting the same error/crash when calling `AppleHealthKit.getStepCount`. Did anyone manage to find a fix/workaround?

[2022-10-21 11:12] KamilDike opened #254 "getAnchoredWorkouts method doesn't support type filter"
**Describe the bug**
getAnchoredWorkouts method returns every activity data.

**To Reproduce**
[code]

**Expected behavior**
AnchoredWorkouts should be filtered by "Running" type.

[2022-10-22 02:57] samuel-belcastro opened #255 "RNAppleHealthKit pod does not seem to be installed to xcworkspace"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `yarn install react-native-health` from project root
2. Run `cd ios`
3. Run `pod install`
4. RNAppleHealthKit is not in "Pods" folder in ios directory and when I open the workspace in Xcode, I get `Use of undeclared identifier 'RCTAppleHealthKit'.`

**Expected behavio

[2022-11-01 15:17] Dreamfullstacker opened #256 "I can't get latest weight"
Hello, everyone!
I faced an issue while getting latest weight from Apple Health in simulator.
![image](https://user-images.githubusercontent.com/97073529/199267796-97de595e-aea3-47c7-8d87-c677a6469d77.png)
I can get other fields like birthday, sex...
But if I run the project I got the following error
![image](https://user-images.githubusercontent.com/97073529/199268215-af597ea7-d77f-4ce3-b9e8-ba17

[2022-11-03 14:58] asjustis opened #257 "Casting permissions object to HealthKitPermissions in .js causing troubles"
**Describe the bug**
Might be something simple, but in a fresh project, I get an error using the sample code from the Readme. In particular, the issue is the `as HealthKitPermissions` below:

[code]

I use plain Javascript RN build, and added this code to App.js (naturally, the whole sample with the imports), and got the following error in the VS Code:

[code]

Installing Flow didn't help, Prettie

[2022-11-07 13:04] alpcesur commented on #257
If you tsx your js file, the problem will be fixed.

[2022-11-08 02:55] codeCasa opened #258 "Fetch and Delete Food records in HealthKit"
**Is your feature request related to a problem? Please describe.**
The application I am developing needs to recall and delete food saved into HealthKit

**Describe the solution you'd like**
I would like additional functionality to retrieve and delete saved food from the RN layer of the application.

**Describe alternatives you've considered**
Currently, I have the implementation locally on my mach

[2022-11-17 00:59] jclif commented on #187
@jhbarnett How did everything work out in the end?

[2022-11-19 09:22] varsh8th commented on #27
Hey @m-ruhl @TowhidKashem @lucaspbordignon @blakete

facing the same issue for an expo app, was there any fix to this ?
There's not much documentation wrt expo, so its been hard navigating this, any help is appreciated :)